<!--1.Category-->
<div class="container-implement">
    <div class="container-field-line">
      <h3>Category</h3>
      <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" (input)="filterData()" autocomplete="off" placeholder="Search Category Name">
      </div>
      <button class="btn btn-primary" [routerLink]="'/newsoftwareVersionMaster'" style="margin-left: 92%; margin-top: -5%; width: 7%;">New</button>
      <div class="border-rfc-heading">
        <div class="table-wrapper" style="overflow-x: auto">
          <table class="fl-table">
            <thead class="table-head">
              <tr class="border-bottom">
                <th>SR. NO.</th>
                <th>Software Version</th>
                <th>Is Active</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of softwareVersinList;let i=index" class="tr-body">
                <td>{{ i + 1}}</td>
                <td>{{ data.softVersionName }}</td>
                <td>{{ data.isActive }}</td>
                <td>
                    <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="navigateTo(data.softVersionId)"
                    style="cursor: pointer;"></i>
                  <i (click)="deleteRow(data.softwareLibraryId)" class="fa fa-trash" aria-hidden="true"
                  style="cursor: pointer;"></i>
  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  
      </div>
    </div>
  </div>
  
  