<div class="container-implement">
    <!-- <div class="notification-sucess" *ngIf="messagesuccess">
      <p>Saved Successfully!</p>
      <span class="close-btn" (click)="navigatesuccess()">Ok</span>
    </div>
    <div class="notification" *ngIf="messageerror">
      <span class="close-btn" (click)="closeNotification()">&times;</span>
      <p>Not Saved</p>
    </div> -->
    <div class="container-field-line" [formGroup] = "myForm">
  
      <h3>Hold Reason</h3>
      <div class="border-rfc-heading">
        <div class="row mt-2">
          <div class="col">
            <label>Module Name</label>
            <select formControlName="supportId" (change)="onModuleChange($event.target)">
              <option value="" disable>Select Module Name</option>
              <option *ngFor="let cldata of support;let i=index" [value]="cldata.supportId">{{cldata.supportName}}<span *ngIf="parentArray[i]!='No Parent'"></span>(<span>{{parentArray[i]}}</span>)</option>
            </select>
          </div>
          <!-- <div class="col" *ngIf="this.myForm.get('serviceModule')">
            <label>Service Name</label>
            <select formControlName="serviceModule" (change)="onModuleChange($event.target)">
              <option value="">Select Module Name</option>
              <option *ngFor="let cldata of support" [value]="cldata.supportId">{{cldata.supportName}}</option>
            </select>
          </div>
          <div class="col" *ngIf="this.myForm.get('serviceModule')">
            <label>request Name</label>
            <select formControlName="requestType" (change)="onModuleChange($event.target)">
              <option value="">Select Module Name</option>
              <option *ngFor="let cldata of support" [value]="cldata.supportId">{{cldata.supportName}}</option>
            </select>
          </div> -->
          <div class="col"  *ngIf="this.myForm.get('category')">
            <label>Category</label>
            <select formControlName="category" (change)="getCategoryType()"
            name="category">
              <option value="">Select categoryName</option>
              <option *ngFor="let cldata of cateGoryList" [value]="cldata.itcategoryId">{{cldata.categoryName}}</option>
            </select>
          </div>

          
        <div class="col"  *ngIf="this.myForm.get('category')">
            <label>Sub-Category<span style="color:red">*</span></label>
            <select formControlName="subCategory" name="subCategory">
              <option value="" disabled hidden selected>Select Sub-Category</option>
              <option *ngFor="let valueCtype of categoryTypeList" value="{{valueCtype.categoryTypeId}}">
                {{valueCtype.categoryType}}</option>
            </select>
          </div>
          <div class="col" >
              <label>Hold On Reson<span style="color:red">*</span></label>
              <input formControlName="hold_reason" type="text" name="hold_reason"/>
          </div>
          
          <div class="col">
              <label>
                <input type="checkbox" formControlName="active" /> Active
              </label>
          </div>
        </div>
      </div>
  
    </div>
<Div class="mt-4">
  <button (click)="saveResaon()" class="btn btn-primary">Submit</button>
  <button style="margin-left: 2%;" class="btn btn-primary" (click)="back()">Back</button>
</Div>
  

    
    <div class="border-rfc-heading mt-4">
      <div class="table-wrapperm mt-4" style="overflow-x: auto">
        <table class="fl-table" style="width: 100%;">
          <thead class="table-head">
            <tr class="border-bottom">
              <th>Module Name</th>
              <th>On Hold Reason</th>
              <th>Category Name</th>
              <th>Category Type Name</th>
              <!-- <th>Is Active</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reason of reasonList" class="tr-body">
              <td>{{reason.supportName}}</td>
              <td>{{ reason.onholdReason }}</td>
              <td>{{ reason.categoryName }}</td>
              <td>{{ reason.typeName }}</td>
              <!-- <td>{{ reason.isActive }}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  
  