.updateRefernceTypeMainDiv {
  display: flex;
  width: 95%;
  margin: auto;
  margin-top: 10px;
  background-color: white;
  border-radius: 20px;
  margin-top: -2%;
}

.sidebar {
  width: 20%;
  margin-left: 3%;
}

.main-card {
  width: 95%;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  margin-right: 10%;
}

.title {
  color: #f57c00;
  font-weight: 600;
  border-bottom: 2px solid #2196f3;
  padding-bottom: 10px;
}

.form-card {
  margin-top: 15px;
  background: #f3eee6;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #ddd;
}

.row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  min-width: 200px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #1565c0;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #90caf9;
  outline: none;
  font-size: 14px;
}

.button-row {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.btn-submit {
  background: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  width: 10%;
}

.btn-back {
  background: #f57c00;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
}