<div class="services">
     <div class="text-center pageHeadingCss">
        <p class="pageHeadingparaCss">Service Request</p>
      </div>
    <div class="filterAndViewButtons">
        <span class="filterButton"><i class="fa fa-filter" aria-hidden="true"></i></span> &nbsp;&nbsp;
        <button class="viewServicesButton" [routerLink]="'/services/viewservice'"><i class='bx bx-plus-circle'></i>&nbsp;View Services</button>
    </div>

    <div class="table">
        <table >
            <thead>
                <tr class="tableHeadings">
                    <th>Select</th>
                    <th>Service Code</th>
                    <th>Service</th>
                    <th>Requestor</th>
                    <th>Status</th>
                    <th>Category</th>
                    <th>Sub-Category</th>
                    <th>Type</th>
                    <th>Priority</th>
                    <th>Assigned To</th>
                    <th>Attachment</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td><input type="checkbox" name="one" id="one" /></td>
                  <td>CR1000012</td>
                  <td>Service</td>
                  <td>Nilesh Kapse</td>
                  <td>Progress</td>
                  <td>Servers</td>
                  <td>Cables</td>
                  <td>Business application</td>
                  <td>Very High</td>
                  <td>Michael</td>
                  <td><i class="fa fa-download" aria-hidden="true" ></i></td>
                  <td>
                    <a><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  </td>
                  <td>
                    <a><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" name="one" id="one" /></td>
                  <td>CR1000012</td>
                  <td>Service</td>
                  <td>Nilesh Kapse</td>
                  <td>Progress</td>
                  <td>Printers</td>
                  <td>Inks</td>
                  <td>Business application</td>
                  <td>Very High</td>
                  <td>Michael</td>
                  <td><i class="fa fa-download" aria-hidden="true"></i></td>
                  <td>
                    <a [routerLink]="'/software'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  </td>
                  <td>
                    <a><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
                <tr class="tableBody">
                  <td><input type="checkbox" name="one" id="one" /></td>
                  <td>CR1000012</td>
                  <td>Service</td>
                  <td>Nilesh Kapse</td>
                  <td>Progress</td>
                  <td>Laptop/Desktop</td>
                  <td>Ram management</td>
                  <td>Business application</td>
                  <td>Very High</td>
                  <td>Michael</td>
                  <td><i class="fa fa-download" aria-hidden="true"></i></td>
                  <td>
                    <a [routerLink]="'/software'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  </td>
                  <td>
                    <a><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
                <tr class="tableBody">
                  <td><input type="checkbox" name="one" id="one" /></td>
                  <td>CR1000012</td>
                  <td>Service</td>
                  <td>Nilesh Kapse</td>
                  <td>Progress</td>
                  <td>Network</td>
                  <td>Slow Connectivity</td>
                  <td>Business application</td>
                  <td>Very High</td>
                  <td>Michael</td>
                  <td><i class="fa fa-download" aria-hidden="true"></i></td>
                  <td>
                    <a [routerLink]="'/software'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  </td>
                  <td>
                    <a><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
                <tr class="tableBody">
                  <td><input type="checkbox" name="one" id="one" /></td>
                  <td>CR1000012</td>
                  <td>Service</td>
                  <td>Nilesh Kapse</td>
                  <td>Progress</td>
                  <td>Security</td>
                  <td>cloud security</td>
                  <td>Business application</td>
                  <td>Very High</td>
                  <td>Michael</td>
                  <td><i class="fa fa-download" aria-hidden="true"></i></td>
                  <td>
                    <a [routerLink]="'/newcrpage'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  </td>
                  <td>
                    <a><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
                <tr class="tableBody">
                  <td><input type="checkbox" name="one" id="one" /></td>
                  <td>CR1000012</td>
                  <td>Service</td>
                  <td>Nilesh Kapse</td>
                  <td>Progress</td>
                  <td>Servers</td>
                  <td>Cables</td>
                  <td>Business application</td>
                  <td>Very High</td>
                  <td>Michael</td>
                  <td><i class="fa fa-download" aria-hidden="true"></i></td>
                  <td>
                    <a [routerLink]="'/software'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  </td>
                  <td>
                    <a><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
        </div>

