<div class="card service_card" style="border-top: 6px solid #113bf7;">
    <div class="card-body">
        
      <div class="card">
        <div class="card-body">
          <div class="software">
            <div class="row">
                <div class="requestTypeClass">
                    <div>
                        <label>Request Type</label>
                        <!-- <select formControlName="requestType" name="requestType"
                            (change)="changeRequestTypeValue()">
                            <option selected disabled hidden value="">Select Request Type</option>
                            <option *ngFor="let requesttype of requestTypeList"
                                [value]="requesttype.supportId">{{requesttype.supportName | titlecase}}
                            </option>
                        </select> -->
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>