''



<div class="container" style="margin-top: 2%; margin-bottom: 5%;">
  <div class="row newissue">
    <div class="text-center col-2">
      <button class="btn-back1 " [routerLink]="'/report_issue'" type="button">Back</button>
    </div>
    <div class="col-10 pageHeadingCss issuelabel">
      <p class="pageHeadingparaCss" style="margin:0 auto">New Issue</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row newissueradio">
        <div class="col-md-2 radioBtns">
          <span><input type="radio" value="self" [(ngModel)]="selectedOption" (change)="OnLabelChange()"></span>
          <span class="radiolabel">&nbsp;Self</span>
        </div>
        <div class="col-md-4 radioBtns">
          <span><input type="radio" value="others" [(ngModel)]="selectedOption" (change)="OnLabelChange()"></span>
          <span class="radiolabel">&nbsp;Others</span>
          &nbsp;
          <span>
            <input type="text" class="dropdownslistinput" #EnterIssueID placeholder="Enter Issue For"
              [disabled]="DisableissueRaiseFor" [(ngModel)]="issueRaiseFor" (input)="filterItems()"
              (ngModelChange)="ClearOtherInputs()" />
            <ul class="dropdowns-list" *ngIf="dropdownItems.length > 0">
              <li class="drop-list" value="" *ngFor="let item of dropdownItems" (click)="selectItem(item)">
                {{ item.employeeId ? (item.employeeId + ' - ' + item.employeeName) : item.employeeName }}
              </li>
            </ul>
          </span>
        </div>
        <div class="col-md-2 radioBtns">
          <span><input type="radio" value="guest" [(ngModel)]="selectedOption" (change)="OnLabelChange()"></span>
          <span class="radiolabel">&nbsp;Guest</span>
        </div>
      </div>

      <div class="card inside_card">
        <div class="card-body inside_newissue">

          <!--Self-->
          <ng-container *ngIf="ShowSelf">
            <div class="row" style="text-align:left;">
              <div class="col-md-3">
                <label>Employee ID: <span class="horinputDatas">{{EmployeeID}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Name: <span class="horinputDatas">{{Name}}</span></label>
              </div>
              <div class="col-md-3">
                <label>Email: <span class="horinputDatas">{{Email}}</span></label>
              </div>
              <div class="col-md-3">
                <label>Contact No: <span class="horinputDatas">{{ContactNo}}</span></label>
              </div>
            </div>

            <div class="row" style="text-align:left;">
              <div class="col-md-3">
                <label>Reporting Manager: <span class="horinputDatas">{{ReportingManager}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Staff Category: <span class="horinputDatas">{{StaffCategory}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Plant: <span class="horinputDatas">{{Plant}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Paygroup: <span class="horinputDatas">{{Paygroup}}</span></label>
              </div>
            </div>

            <div class="row" style="text-align:left;">
              <div class="col-md-3">
                <label>Department: <span class="horinputDatas">{{Department}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Designation: <span class="horinputDatas">{{Designation}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Role: <span class="horinputDatas">{{Role}}</span></label>
              </div>

              <div class="col-md-3">
              </div>
            </div>
          </ng-container>

          <!--Others-->
          <ng-container *ngIf="ShowOthers">
            <!--Requested By-->
            <span style="font-weight:bold;text-align:left;color:white;background:black;padding:3px;">Requested
              by:</span>
            <div class="row mt-2" style="text-align:left;">
              <div class="col-md-3">
                <label>Employee ID: <span class="horinputDatas">{{EmployeeID}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Name: <span class="horinputDatas">{{Name}}</span></label>
              </div>
              <div class="col-md-3">
                <label>Email: <span class="horinputDatas">{{Email}}</span></label>
              </div>
              <div class="col-md-3">
                <label>Contact No: <span class="horinputDatas">{{ContactNo}}</span></label>
              </div>
            </div>

            <div class="row" style="text-align:left;">
              <div class="col-md-3">
                <label>Reporting Manager: <span class="horinputDatas">{{ReportingManager}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Staff Category: <span class="horinputDatas">{{StaffCategory}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Plant: <span class="horinputDatas">{{Plant}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Paygroup: <span class="horinputDatas">{{Paygroup}}</span></label>
              </div>
            </div>

            <div class="row" style="text-align:left;">
              <div class="col-md-3">
                <label>Department: <span class="horinputDatas">{{Department}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Designation: <span class="horinputDatas">{{Designation}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Role: <span class="horinputDatas">{{Role}}</span></label>
              </div>

              <div class="col-md-3">
              </div>
            </div>
            <hr />
            <!--Requested For-->
            <div>
              <span style="font-weight:bold;text-align:left;color:white;background:black;padding:3px;">Requested
                for:</span>
              <div class="row mt-2">
                <div class="col-md-3">
                  <label>Employee ID: <span class="horinputDatas">{{EmployeeIDOthers}}</span></label>
                </div>

                <div class="col-md-3">
                  <label>Name: <span class="horinputDatas">{{OthersName}}</span></label>
                </div>

                <div class="col-md-3">
                  <label>Email: <span class="horinputDatas">{{EmailOthers}}</span></label>
                </div>

                <div class="col-md-3">
                  <label>Contact No: <span class="horinputDatas">{{ContactNoOthers}}</span></label>
                </div>

              </div>

              <div class="row">
                <div class="col-md-3">
                  <label>Reporting Manager: <span class="horinputDatas">{{ReportingManagerOthers}}</span></label>
                </div>

                <div class="col-md-3">
                  <label>Staff Category: <span class="horinputDatas">{{StaffCategoryOthers}}</span></label>
                </div>

                <div class="col-md-3">
                  <label>Plant: <span class="horinputDatas">{{PlantOthers}}</span></label>
                </div>

                <div class="col-md-3">
                  <label>Paygroup: <span class="horinputDatas">{{PaygroupOthers}}</span></label>
                </div>

              </div>

              <div class="row">
                <div class="col-md-3">
                  <label>Department: <span class="horinputDatas">{{DepartmentOthers}}</span></label>
                </div>

                <div class="col-md-3">
                  <label>Designation: <span class="horinputDatas">{{DesignationOthers}}</span></label>
                </div>

                <div class="col-md-3">
                  <label>Role: <span class="horinputDatas">{{RoleOthers}}</span></label>
                </div>

                <div class="col-md-3">
                </div>
              </div>
            </div>

          </ng-container>

          <!--Guest-->
          <ng-container *ngIf="ShowGuest">
            <!--Requested By-->
            <span style="font-weight:bold;text-align:left;color:white;background:black;padding:3px;">Requested
              by:</span>
            <div class="row mt-2" style="text-align:left;">
              <div class="col-md-3">
                <label>Employee ID: <span class="horinputDatas">{{EmployeeID}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Name: <span class="horinputDatas">{{Name}}</span></label>
              </div>
              <div class="col-md-3">
                <label>Email: <span class="horinputDatas">{{Email}}</span></label>
              </div>
              <div class="col-md-3">
                <label>Contact No: <span class="horinputDatas">{{ContactNo}}</span></label>
              </div>
            </div>

            <div class="row" style="text-align:left;">
              <div class="col-md-3">
                <label>Reporting Manager: <span class="horinputDatas">{{ReportingManager}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Staff Category: <span class="horinputDatas">{{StaffCategory}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Plant: <span class="horinputDatas">{{Plant}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Paygroup: <span class="horinputDatas">{{Paygroup}}</span></label>
              </div>
            </div>

            <div class="row" style="text-align:left;">
              <div class="col-md-3">
                <label>Department: <span class="horinputDatas">{{Department}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Designation: <span class="horinputDatas">{{Designation}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Role: <span class="horinputDatas">{{Role}}</span></label>
              </div>

              <div class="col-md-3">
              </div>
            </div>
            <hr />

            <!--Requested for-->
            <span style="font-weight:bold;text-align:left;color:white;background:black;padding:3px;">Requested
              for:</span>
            <div class="row mt-2">
              <div class="col-md-3">
                <label>Guest Employee ID:</label><br>
                <input type="text" [(ngModel)]="GuestEmployeeID">
              </div>

              <div class="col-md-3">
                <label>Name:<span style="color:red">&nbsp;*</span></label><br>
                <input type="text" [(ngModel)]="GuestName">
              </div>

              <div class="col-md-3">
                <label>Email:</label><br>
                <input type="text" [(ngModel)]="Guestemail">
              </div>
              <div class="col-md-3">
                <form [formGroup]="contactForm">

                  <label>Contact No:</label><br>

                  <input id="contactNo" formControlName="contactNo" type="number" (input)="onInput($event)"
                    placeholder="Enter 10-digit contact number" maxlength="10" required
                    title="Please enter exactly 10 digits">
                </form>
              </div>

            </div>


            <div class="row" style="display:flex;align-items:center">
              <div class="col-md-3">
                <!--<label>Reporting Manager Employee ID:</label><br>-->
                <input type="text" placeholder="Enter Reporting Manager Employee ID" [(ngModel)]="ReportingManagerEmpID"
                  (input)="filterItemsforGuest()" (ngModelChange)="ClearGuestOtherInputs()" />
                <ul class="dropdowns-list" *ngIf="dropdownItems2.length > 0">
                  <li class="drop-list" value="" *ngFor="let item of dropdownItems2" (click)="selectItem(item)">
                    {{ item.employeeId ? (item.employeeId + ' - ' + item.employeeName) : item.employeeName }}
                  </li>
                </ul>

              </div>

              <div class="col-md-3">
                <label>Reporting Manager in ML: <span class="horinputDatas">{{ReportingManagerinML}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Staff Category of ML: <span class="horinputDatas">{{StaffCategoryofML}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Plant ML: <span class="horinputDatas">{{GuestPlant}}</span></label>
              </div>

            </div>

            <div class="row">
              <div class="col-md-3">
                <label>Paygroup ML: <span class="horinputDatas">{{PaygroupML}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Department ML: <span class="horinputDatas">{{DepartmentML}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Designation of ML Manager: <span class="horinputDatas">{{DesignationofMLManager}}</span></label>
              </div>

              <div class="col-md-3">
                <label>Role of ML Manager: <span class="horinputDatas">{{RoleofMLManager}}</span></label>
              </div>
            </div>

          </ng-container>

        </div>
      </div>

      <div class="container">
        <div class="container-field-line">
          <div class="text-center subHeadingparaCss" style="margin-top:-3%;">
            <p>Details</p>
          </div>
          <div class="card report_issue_card container-implement" style="margin-left:3%;">
            <div class="card-body">

              <div class="row">
                <div class="col">
                  <label>Raised Date<span style="color:red"> *</span></label>
                  <input readonly [(ngModel)]="today" type="date" />
                </div>
                <div class="col">
                  <label>Plant<span style="color:red"> *</span></label>
                  <select (change)="getassets()" [(ngModel)]="plantId" required>
                    <option value="" selected disabled hidden>Select Plant</option>
                    <option *ngFor="let pltdata of plantcode " value="{{pltdata.id}}">{{pltdata.code}}</option>
                  </select>
                </div>
                <div class="col">
                  <label>Service-Category<span style="color:red"> *</span></label>
                  <select (change)="getcategorytype()" [(ngModel)]="categoryId">
                    <option value="" selected disabled hidden>Select Service Category</option>
                    <option *ngFor="let value of categorydata " value="{{value.itcategoryId}}">
                      {{value.categoryName}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>Sub-Category<span style="color:red"> *</span></label>
                  <select [(ngModel)]="categoryTypId" (change)="getAssignTo()">
                    <option value="" selected disabled hidden>Select Sub-Category</option>
                    <option *ngFor="let valueCtype of categorytype " value="{{valueCtype.categoryTypeId}}">
                      {{valueCtype.categoryType}}
                    </option>
                  </select>
                </div>

                <div class="col">
                  <label>Priority<span style="color:red"> *</span></label>
                  <select [(ngModel)]="priority">
                    <option value="" selected disabled hidden>Select Priority</option>
                    <option *ngFor="let valueprio of prioritytype " value="{{valueprio.priorityId}}">
                      {{valueprio.priorityName}}
                    </option>
                  </select>
                </div>
                <div class="col">
                  <label>Type</label><br />
                  <select [(ngModel)]="type">
                    <option value="" selected disabled hidden>Select Type</option>
                    <option value="Type">Type</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div>
                    <label>Source</label><br />
                    <select [(ngModel)]="source">
                      <option value="" selected disabled hidden>Select Source</option>
                      <option value="E-mail">E-mail</option>
                      <option value="Phone">Phone</option>
                      <option value="Website">Website</option>
                    </select>
                  </div>
                </div>

                <div class="col">
                  <label>Impacted Asset</label>
                  <select [(ngModel)]="asset">
                    <option value="" selected disabled hidden>Select Impacted Asset</option>
                    <option *ngFor="let valueasset of impactassetlist " value="{{valueasset.assetId}}">
                      {{valueasset.category + ' ' + '-' + ' ' + valueasset.assetNo}}
                    </option>
                  </select>
                </div>

                <div class="col">
                  <label>Assign To</label>
                  <select [(ngModel)]="assignedTo">
                    <option value="" selected disabled hidden>Select Assign to</option>
                    <option *ngFor="let assgn of assignToList" value="{{assgn.empId}}">
                      {{assgn.empId+' '+'-'+' '+assgn.firstName+' '+assgn.middleName+' '+assgn.lastName }}
                    </option>
                  </select>
                </div>

              </div>

              <div class="row">
                <div class="col">
                  <div>
                    <label>Subject<span style="color:red"> *</span></label><br />
                    <input [(ngModel)]="Subject" style="padding:6px;" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="report_description">
                    <label>Description<span style="color:red">*</span></label>
                    <!--<textarea [(ngModel)]="issueDesc" class="textarea-implement" cols="160" rows="4"
                id="area7"> </textarea>-->
                    <angular-editor #editor [(ngModel)]="issueDesc" [config]="editorConfig"></angular-editor>
                  </div>
                </div>
                <!-- <div class="row">
              <div class="col">
                <div class="report_attachment">
                  <label>Remarks</label>
                  <textarea [(ngModel)]="remarks" class="textarea-implement" type="file" style="width:102%;"></textarea>
                </div>
              </div>
            </div> -->
                <!-- <div class="row">
                  <div class="col">
                    <div class="report_attachment">
                      <label>Attach Document</label>
                      <input [(ngModel)]="attachment" type="file" style="width:102%;" (change)="getattach($event)">
                      <div *ngIf="attachment">
                        <p>Attachment: {{ attachment }}<button style="padding: 1%; border: none; background: none;" (click)="viewFile(attachment)"><i class="fa fa-download" aria-hidden="true"></i></button></p>
                      </div>
                    </div>
                  </div>
                </div> -->
                <div>
                  <label>Attachement</label>
                  <div class="attachmentList" style="width: fit-content;">
                    <div class="d-flex">
                      <input type="file" [(ngModel)]="attachment" (change)="getattach($event)"
                      style="width: 100%;"/>
                      <!-- <i class="fa fa-plus cursor-pointer mt-3 ms-3" aria-hidden="true" (click)="addFile()"></i> -->

                      <button class="blue-botton ms-4" type="submit" value="Submit" (click)="addFile()"
                        style="margin: 0px 10px;height: 33px;">Add File</button>
                    </div>
                    <div *ngFor="let attachment of attachmentsList;index i">
                      <div>
                        {{attachment.fileName}}
                        <i class="fa fa-eye ms-3 mt-3 cursor-pointer" aria-hidden="true"
                          (click)="viewFile(attachment)"></i>
                        <i class="fa fa-download cursor-pointer ms-3 mt-3" aria-hidden="true" style="margin-left: 10px;"
                          (click)="downFile(attachment)"></i>
                        <i class="fa fa-times cursor-pointer" aria-hidden="true" (click)="deleteDoc(attachment)"
                          style="margin-left: 10px;"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div>
                      <label>Proposed Resolution Date<span style="color:red"> *</span></label><br />
                      <input type="datetime-local" [(ngModel)]="ProposedResolution" style="width:30%;" readonly/>
                    </div>
                  </div>
                </div>
              </div>

              <span class="btn-sub" (click)="onsubmit('Draft')">Draft</span>
              <span class="btn-sub" (click)="onsubmit('Submit')">Submit</span>
              <span class="btn-sub" [routerLink]="'/report_issue'">Back</span>
              <!--<span class="btn-sub" [routerLink]="'/report_issue'">Cancel</span>-->
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>


<!--

<div class="notification-sucess" *ngIf="messagesuccess">
  <p>Saved Successfully!</p>
  <span class="close-btn" (click)="navigatesuccess()">Ok</span>
</div>
<div class="notification" *ngIf="messageerror">
  <span class="close-btn" (click)="closeNotification()">&times;</span>
  <p>Not Saved</p>
</div> -->

<!--Popup Start-->
<div class="notification" *ngIf="errorMessage">
  <button class="close-btn" (click)="clearErrorMessage()"><span style="color:black;">X</span></button>
  <p class="message-txt">{{ errorMessage }}</p>
</div>
<div class="success" *ngIf="successMessage">
  <button class="close-btn" (click)="clearSuccessMessage()"><span style="color:black;">X</span></button>
  <p class="message-txt">{{ successMessage }}</p>
</div>
<!--Popup End-->
