<div class="container-implement">
  <div class="container-field-line">

    <!-- bootstrap -->
    <h3>Update Nature Of Change </h3>
    <div class="border-rfc-heading">
      <div class="row mt-2">
        <div class="col">
          <label>Nature Of ChangeID</label>
          <input class="searchinput" type="text" readonly [(ngModel)]="updatevalue[0].natureofChangeId" />
        </div>
        <div class="col">
          <label>Nature Of Change</label>
          <input type="text" [(ngModel)]="updatevalue[0].natureofChange1" />
        </div>
        <div class="col">
          <label>Is Active</label>

          <select [(ngModel)]="updatevalue[0].isActive">
            <option>Select</option>
            <option [ngValue]="true">True</option>
            <option [ngValue]="false">False</option>
          </select>

        </div>


      </div>

    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <button (click)="postNatureofChange()" class="btn btn-primary">Submit</button>
    </div>
    <div class="col">
      <button [routerLink]="'/natureofchange'" style="margin-left: -87%;" class="btn btn-primary">Back</button>

    </div>

  </div>
</div>
