.issueReportMainDiv {
    width: 95%;
    display: flex;
    background: white;
    border-radius: 40px;
    margin-left: 2.5%;
}

th,
td {
    padding: 2px 13px;
    text-align: center;
    margin-left: -1%;
    white-space: nowrap;
}

.filter_button {
    background-color: #3c8dbc;
    color: white;
    margin-top: 17px;
    margin-left: 40%;
}

.card {
    width: 90%;
    margin: 20px 70px;

}

.slareporttable {
    margin: 25px 280px;
}

.export_pdf {
    margin-left: -87px;
}

.table-wrapper {
    margin-top: 20px;
    margin-left: 10%;
    width: 88%;
}

.fl-table {
    margin-left: 188rem;
}

.changeAnalystTable table {
    width: 100%;
    margin-left: -1%;
}

table,
th,
td {
    border: 1px solid #cdc7c7;
}

.sizetable {
    overflow-x: auto;
    width: 89%;
    margin-left: 8%;
}

td,
th {
    text-align: left;
}

.min-width-100 {
    max-width: 500px;
}

.reportDescription {
    /*  display: -webkit-box;*/
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
    max-width: 300px;
    white-space: nowrap;
}

.reportDescription:after {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 5px;
    z-index: 10;
    white-space: normal;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: max-content;
    max-width: 300px;
    line-height: 1.5;
}

.reportDescription:hover::after {
    visibility: visible;
    /* Make visible on hover */
    opacity: 1;
    /* Fully opaque on hover */
}