<button class="proManagementBackBtn" (click)="navigateToLesonLearned()">Go Back</button>
<button class="addNewBtn ms-4" (click)="navigateToEdit()">
  Add New Template</button>
<ng-container *ngIf="!showLessonTemplate">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Template Name</th>
          <th>Is Active</th>
          <th>Created By</th>
          <th>Created Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let template of paginatedData">
          <td>{{template.templateName}}</td>
          <td>{{template.isActive}}</td>
          <td>{{template.createdBy}}</td>
          <td>{{template.createdDt | date:'dd-MM-yyyy HH:mm'}}</td>
          <td>
            <i class="fa fa-pencil-square-o cursor-pointer" (click)="navigateToEdit(template)"></i>
            <i class="fa fa-trash cursor-pointer" aria-hidden="true" (click)="delete(template)"></i>
          </td>
        </tr>
        <tr *ngIf="paginatedData?.length == 0">
          <td colspan="6" style="text-align: center;">
            <i style="color: #3e8cba;font-size: 20px;" class="fa fa-search"></i>
            No Data Available
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mb-5">
      <div *ngIf="paginatedData?.length > 0">
        <mat-paginator [length]="templateDetailsList?.length" [pageSize]="pageSize" [pageIndex]="pageIndex"
          [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="onPageChange($event)" aria-label="Select page"
          style="margin-right:34%">
        </mat-paginator>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showLessonTemplate">
  &nbsp;<button class="proManagementBackBtn" (click)="showLessonTemplate=false">Show Table</button>
  <app-pr-template [templateViewData]="templateViewData" />
</ng-container>