<div style="margin-left: 6%;">
  <button class="btn-back" [routerLink]="'/projectmanagement'">Back</button>
</div>
<div class="container-implement">
  <div class="container-field-line">
    <h3>Create New Task</h3>

    <!-- bootstrap -->
    <div class="border-rfc-heading">
      <div class="row mt-3">
        <div class="col">
          <label>Task Name</label>
          <input type="text" placeholder="Tittle" />
        </div>

        <div class="col">
          <label>Task Description </label>
          <input type="text" placeholder="Description" />
        </div>

        <div class="col">
          <label>Assigned to </label>
          <input type="text" placeholder="Assigned to" />
        </div>

        <div class="col">
          <label>Priority </label>
          <select>
            <option value="" disabled selected>Select Priority</option>
            <option>High</option>
            <option>Medium</option>
            <option>Low</option>
          </select>
        </div>
        <div class="row mt-3">
          <div class="col-sm-3">
            <label>Start Date From </label>
            <input type="date" required />
          </div>

          <div class="col-sm-3">
            <label>Due Date</label>
            <input type="date" required />
          </div>
        </div>

        <h5>Actual Start Date</h5>

        <div class="col">
          <label>From Date</label>
          <input type="date" required />
        </div>

        <div class="col">
          <label> To Date</label>
          <input type="date" required />
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label>Planned Cost</label>
            <input type="text"/>
          </div>
          <div class="col-sm-3">
            <label>Actual Cost</label>
            <input type="text"/>
          </div>
          <div class="col-sm-3">
            <label>staus</label>
            <select>
              <option>Open</option>
              <option>In Progress</option>
              <option>In Review</option>
              <option>To be Tested</option>
            </select>
          </div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label>Additional Notes</label>
            <input type="text" />
          </div>
          <div class="col-sm-8">
            <label>Attachment</label>
            <br />
            <input type="file"/>
          </div>
        </div>
       </div>
      <button class="btn-back">Submit</button>&nbsp;
      <button class="btn-back" style="margin-left:3%; width:6%;">Save</button>

    </div>
  </div>
</div>
