<header class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="microlab_symbol" src="assets/image/microlabs.png" alt="Microlabs Logo">
      <img class="unnati_symbol" src="assets/image/unnati.png" alt="Unnati Logo">
      <span class="itportal_symbol">| IT Portal</span>
    </a>
    <div class="user-profile">
      <p><b>NAME        : {{(logedInUser?.empData?.firstName??' ') +' '+(logedInUser?.empData?.middleName??' ') +' '+(logedInUser?.empData?.lastName??' ')}}</b></p>
      <p><b>ID          : {{logedInUser?.empData?.employeeNo}}</b></p>
      <p><b>ROLE : {{logedInUser?.role}}</b></p>
    </div>
    <div class="dropdown" (click)="toggleDropdown()">
      <div class="profile-content">
        <img src="assets/image/profile.png" alt="Profile" class="profile-img">
      </div>

      <div class="dropdown-content" [ngClass]="{'show': showDropdown}">
        <a href="{{urls}}">
          <i class='fas fa-sign-out-alt' style='font-size:17px; color:white;' (click)="logout()">Logout</i>
        </a>
      </div>
    </div>


  </div>
</header>
