<!-- <header class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="microlab_symbol" src="assets/image/4.png" alt="Microlabs Logo">
      <img class="unnati_symbol" src="assets/image/7.png" alt="Unnati Logo" style="margin-bottom: -26px; width: 175px;">
    </a>
 

    <div class="profile-wrapper">

      <div class="user-profile">
        <p><b> <span style="color : #fdb956">NAME : </span> <span style="color: #424242">
              {{(logedInUser?.empData?.firstName ?? '') + ' ' +
              (logedInUser?.empData?.middleName ?? '') + ' ' +
              (logedInUser?.empData?.lastName ?? '')}}
            </span></b></p>
        <p><b><span style="color: #fdb956">ROLE : </span> <span style=" color : #424242"> {{logedInUser?.role}}</span></b>
        </p>
        <p><b><span style="color: #fdb956">ID : </span> <span style="color : #424242">
              {{logedInUser?.empData?.employeeNo}}</span></b></p>
      </div>

      <div class="dropdown" (click)="toggleDropdown()">
        <img src="assets/image/6.jpeg" alt="Profile" class="profile-img">

      </div>

    </div>



  </div>
</header> -->

<header class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="microlab_symbol" src="assets/image/4.png" alt="Microlabs Logo">
      <img class="unnati_symbol" src="assets/image/7.png" alt="Unnati Logo" style="margin-bottom: -26px; width: 175px;">
    </a>

    <div class="profile-wrapper">

      <!-- NAME stays here -->
      <div class="user-profile">
        <p>
          <b>
            <span style="color:#fdb956">NAME :</span>
            <span style="color:#424242">
              {{(logedInUser?.empData?.firstName ?? '') + ' ' +
              (logedInUser?.empData?.middleName ?? '') + ' ' +
              (logedInUser?.empData?.lastName ?? '')}}
            </span>
          </b>
        </p>
      </div>

      <!-- Profile Image + Dropdown -->
      <div class="dropdown">

        <img src="assets/image/6.jpeg" alt="Profile" class="profile-img" (click)="toggleDropdown()">

        <!-- Dropdown -->
        <div class="dropdown-menu-profile" *ngIf="showDropdown">

          <p>
            <b>
              <span style="color:#fdb956">ROLE :</span>
              <span style="color:#424242">{{logedInUser?.role}}</span>
            </b>
          </p>

          <p>
            <b>
              <span style="color:#fdb956">ID :</span>
              <span style="color:#424242">
                {{logedInUser?.empData?.employeeNo}}
              </span>
            </b>
          </p>

        </div>

      </div>

    </div>

  </div>
</header>