<div class="container-home">
  <div class="tab-implement"  >
    <app-cr-bread-crumb [crid]="changeRequestData"></app-cr-bread-crumb>
    <mat-tab-group [(selectedIndex)]="activeTabIndex">
      <mat-tab class="custom-tab">
        <ng-template mat-tab-label >
          <span [ngClass]="getStageStatusCode()>0?'complete':getStageStatusCode()<0?'uncomplete':'clickable'">RFC</span>
        </ng-template>
        <ng-container *ngIf="activeTabIndex == 0">s
          <app-new-cr [crData]="changeRequestData" [isImplement]=true />
        </ng-container>
      </mat-tab>
      <mat-tab>
        
        <ng-template mat-tab-label>
          <span [ngClass]="getStageStatusCode()>1?'complete':getStageStatusCode()<1?'uncomplete':'clickable'">Approval</span>
        </ng-template>
        <ng-container *ngIf="activeTabIndex == 1">
          <app-cr-approve [crData]="changeRequestData" [stage]="'N'" />
        </ng-container>

      </mat-tab>
      <mat-tab label="Execute">   
        <ng-template mat-tab-label>
          <span [ngClass]="getStageStatusCode()>2?'complete':getStageStatusCode()<2?'uncomplete':'clickable'">Execute</span>
        </ng-template>
        <ng-container *ngIf="activeTabIndex == 2">
          <mat-tab-group class="executeTab" [(selectedIndex)]="executeIndex">
            <mat-tab label="Implementation">
              <ng-container *ngIf="executeIndex == 0">
                <app-cr-execute [crData]="changeRequestData" />
              </ng-container>
            </mat-tab>
            <mat-tab label="Release" class="releaseTab">
              <ng-container *ngIf="executeIndex == 1">
                <mat-tab-group class="release-tab-group" [(selectedIndex)]="releaseIndex">
                  <mat-tab label="Approve">
                    <ng-container *ngIf="releaseIndex ==0">
                      <div class="container-field-approve" [ngClass]=>
                        <app-cr-approve [crData]="changeRequestData" [stage]="'R'"/>
                      </div>
                    </ng-container>
                  </mat-tab>
                  <mat-tab label="Release">
                    <ng-container *ngIf="releaseIndex ==1">
                      <div class="container-field-implement">
                        <div>
                          <label>Comments</label>
                          <textarea class="textarea-implement" [(ngModel)]="releaseComment"></textarea>
                        </div>
                        <div>
                          <input class="input-approve" type="File" placeholder="" />
            <div>
              <p>Attachment<button style="padding: 1%; border: none; background: none;"><i class="fa fa-download" aria-hidden="true"></i></button></p>

            </div>
                        </div>
                      </div>
                      <div class="btn-sub-reset">
                        <button class="btn-sub" (click)="submitRelease()">Submit for Closure</button>
                        <button class="btn-sub">Cancel</button>
                      </div>
                    </ng-container>
                  </mat-tab>
                </mat-tab-group>
              </ng-container>

            </mat-tab>
            <mat-tab class="closureTab" label="Closure">
              <ng-container *ngIf="executeIndex == 2">
                <mat-tab-group class="release-tab-group" [(selectedIndex)]="closureIndex">

                  <mat-tab label="Approve">
                    <ng-container *ngIf="closureIndex == 0">
                    <div class="container-field-approve">
                      <app-cr-approve [crData]="changeRequestData" [stage]="'C'" />
                    </div>
                  </ng-container>
                  </mat-tab>

                  <mat-tab label="Closure">
                    <ng-container *ngIf="closureIndex==1">
                    <div class="execute_container_implement">
                      <h3>Closure</h3>
                      <div class="row">
                        <div class="alignSpan">
                          <span><label>Status</label></span>
                          <span>
                            <select class="select_closure" [(ngModel)]="closerStatus">
                              <option value="" selected hidden disabled>Select Status</option>
                              <option value="Completed Successfully">Completed Successfully</option>
                              <option value="Completed partially">Completed partially</option>
                              <option value="Not Successfull">Not Successful</option>
                              <option value="Not Implemented">Not Implemented</option>
                            </select>
                          </span>
                        </div>
                      </div>
                      <div>
                        <label>Closure Comments</label>
                        <textarea class="textarea-implement" [(ngModel)]="releaseComment"></textarea>
                      </div>
                      <div>
                        <label>Feedback</label>
                        <textarea class="textarea-implement" [(ngModel)]="releaseFeedBack"></textarea>
                      </div>
                      <div>
                        <button class="viewexeplan-button">
                          Submit
                        </button>
                      </div>

                    </div>
                  </ng-container>
                  </mat-tab>

                  <mat-tab label="FollowUp">
                    <ng-container *ngIf="closureIndex==2">
                    <div class="execute_container_implement">
                      <h3>FollowUp</h3>
                      <!-- <div class="row">
                        <div class="alignSpan">
                          <span><label>FollowUp Date</label></span>
                          <span><input type="date" [(ngModel)]="followUpdate"/></span>
                        </div>
                      </div>
                      <div>
                        <label>FollowUp Comments</label>
                        <textarea class="textarea-implement" [(ngModel)]="followUpComments"></textarea>
                      </div>
                      <div>
                        <button class="viewexeplan-button" (click)="followUpSubmit()">
                          Submit
                        </button>
                      </div> -->

                    </div>
                  </ng-container>
                  </mat-tab>

                  <mat-tab label="Lessons Learned">
                    <ng-container *ngIf="closureIndex==3">
                    <div class="execute_container_implement">
                      <h3>
                        Lessons Learned
                      </h3>
                      <!-- <div class="row">
                        <div class="alignSpan">
                          <span><label>Lessons Learned Date</label></span>
                          <span><input type="date" [(ngModel)]="lessonDt"/></span>
                        </div>
                      </div>
                      <div  class="col" *ngFor="let lesson of lessonsArray; let i=index">
                        <label label-approve>Lessons learnt</label>
                        <textarea class="textarea-implement" [(ngModel)]="lesson.text"></textarea>
                      </div>
                      <div>
                        <button style="margin-right: 1%;" class="viewexeplan-button" (click)="addLesson()">Add Lesson</button>
                        <button style="margin-right: 1%;" class="viewexeplan-button"><i class="fa fa-remove" (click)="removeLastLesson()"></i>
                          Remove</button>
                        <button class="viewexeplan-button" (click)="crlesson()">Submit</button>
                      </div> -->

                    </div>
                  </ng-container>
                  </mat-tab>

                </mat-tab-group>
              </ng-container>
            </mat-tab>

          </mat-tab-group>
        </ng-container>
      </mat-tab>
      <mat-tab label="History">
        <ng-container *ngIf="activeTabIndex == 3">
          <app-cr-history [crId]="changeRequestData?.crcode"/>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
