<div class="sidebar close" [ngClass]="{ 'close': isSidebarClosed }">
  <div class="logo-details">
    <i [class]="arrowCircle" (click)="toggleSidebar()"></i>
    <span class="logo_name">IT Portal</span>
  </div>
  <ul class="nav-links">
    <li>
      <a>
        <i class='bx bx-home-alt'></i>
        <span [routerLink]="'/dashboard'" class="link_name">Home</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/dashboard">Home</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a>
          <i class='bx bx-git-pull-request'></i>
          <span class="link_name">Change Request</span>
        </a>
        <i class='arrow' [class]="arrowIconCR" (click)="toggleSubItems('CR')"></i>
      </div>
      <ul [@slideInOut]="showCRSubItems ? 'in' : 'out'" class="sub-items">
        <li *ngFor="let item of CRmenuItems">
          <a [routerLink]="item.link"><i class='bx bxs-circle' style="font-size: 5px;"></i>{{ item.name }}</a>
        </li>
      </ul>
      <ul class="sub-menu">
        <li><a class="link_name">Change Request</a></li>
        <li><a [routerLink]="'/change-request'">View Change Request</a></li>
        <li *ngIf="ischangeanalyst"><a [routerLink]="'/new-change'">New Change Request</a></li>
        <li><a [routerLink]="'/change_request_report'">Report</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a>
          <i class='bx bx-support'></i>
          <span class="link_name">Help Desk</span>
        </a>
        <i class='arrow' [class]="arrowIconHD" (click)="toggleSubItems('HD')"></i>
      </div>
      <ul [@slideInOut]="showHDSubItems ? 'in' : 'out'" class="sub-items">
        <li *ngFor="let item of HDmenuItems">
          <a [routerLink]="item.link"><i class='bx bxs-circle' style="font-size: 5px;"></i>{{ item.name }}</a>
        </li>
      </ul>
      <ul class="sub-menu">
        <li><a class="link_name" [routerLink]="'/help-desk'">Help Desk</a></li>
        <li><a [routerLink]="'/report_issue'">Issue</a></li>
        <li><a [routerLink]="'/services/servicemaster'">Service</a></li>
        <li><a [routerLink]="'/assets/viewassets'">Assets</a></li>
        <li><a>Knowledge Base</a></li>
      </ul>
    </li>


    <li>
      <a>
        <i class='bx bx-line-chart'></i>
        <span class="link_name">Project Management</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" [routerLink]="'/projectmaster'">Project Management</a></li>
      </ul>
    </li>
    <li *ngIf="user?.role=='Super Admin'||user?.role=='Admin'">
      <div class="iocn-link">
        <a>
          <i class='bx bx-cog'></i>
          <span class="link_name">Master</span>
        </a>
        <i class='arrow' [class]="arrowIconMS" (click)="toggleSubItems('MS')"></i>
      </div>
      <ul [@slideInOut]="showMSSubItems ? 'in' : 'out'" class="sub-items">
        <li *ngFor="let item of MastermenuItems">
          <a [routerLink]="item.link"><i class='bx bxs-circle' style="font-size: 5px;"></i>{{ item.name }}</a>
        </li>
      </ul>
      <ul class="sub-menu">
        <li><a class="link_name">Masters</a></li>
        <li><a [routerLink]="'/mastermodule/supportmaster'">Module Master</a></li>
        <!-- <li><a [routerLink]="'/support_view'">Support TeamView</a></li> -->
        <li><a [routerLink]="'/support_view'">User Configuration</a></li>
        <li><a [routerLink]="'/ChageRequest-Masters'">Category</a></li>
        <li><a [routerLink]="'/categorytype'">Category Type</a></li>
        <li><a [routerLink]="'/classification'">Classification</a></li>
        <li><a [routerLink]="'/natureofchange'">Nature Of Change</a></li>
        <li><a [routerLink]="'/systemlandscape'">System Landscape</a></li>
        <li><a [routerLink]="'/Refrencemaster'">Reference</a></li>
        <li><a [routerLink]="'/Refrencetype'">Reference Type</a></li>
        <li><a [routerLink]="'/Priority'">Priority</a></li>
        <li><a [routerLink]="'/viewcheklist'">Check List</a></li>
        <li><a [routerLink]="'/slamaster'">SLA Master</a></li>
        <li><a [routerLink]="'/onHoldReasonnMaster'">Hold Reason Master</a></li>
        <li><a [routerLink]="'/softwareMaster'">Software Master</a></li>
        <li><a [routerLink]="'/softwareVersionMaster'">Software Version Master</a></li>
        <li><a [routerLink]="'/projectgroupmaster'">Project Group Master</a></li>
      </ul>
    </li>
  </ul>
</div>