<div class="serviceContainer">

  <div class="serviceHeadingDiv">
    <div class="serviceTitle">Service Request</div>
    <div class="serviceButtonContainer">
      <button class="serviceBackBtn" routerLink="/services/servicemaster">Back</button>
    </div>
  </div>

  <div class="serviceMainModuleBox">
    <div class="serviceModules">

      <ng-container *ngFor="let item of viewServices">
        <div class="serviceModuleCard" [routerLink]="item.routerLink">
          <span class="serviceIcon"><i [style.color]="item.iconColor" [ngClass]="'fa '+item.iconClass "></i></span>
          <span class="serviceIconTitle">{{item.serviceTitle}}</span>
        </div>
      </ng-container>


      <!-- <div class="serviceModuleCard" [routerLink]="'/services/domain'">
        <span class="serviceIcon"><i style="color:#4dd3da;" class="fa fa-globe"></i></span>
        <span class="serviceIconTitle">Domain</span>
      </div>

      <div class="serviceModuleCard" [routerLink]="'/services/email'">
        <span class="serviceIcon"><i style="color:#f78204;" class="fa fa-envelope"></i></span>
        <span class="serviceIconTitle">Email</span>
      </div>

      <div class="serviceModuleCard" [routerLink]="'/services/externaldriveaccess'">
        <span class="serviceIcon"><i style="color:#029695;" class="fa fa-hdd-o"></i></span>
        <span class="serviceIconTitle">External Drive Access</span>
      </div>
      
      <div class="serviceModuleCard" [routerLink]="'/services/ftpaccess'">
        <span class="serviceIcon"><i style="color:#f58c99;" class="fa fa-cloud-upload"></i></span>
        <span class="serviceIconTitle">FTP Access</span>
      </div>

      <div class="serviceModuleCard" [routerLink]="'/services/usbaccess'">
        <span class="serviceIcon"><i style="color:#da523a;" class="fa fa-usb"></i></span>
        <span class="serviceIconTitle">USB Access</span>
      </div>
      
      <div class="serviceModuleCard" [routerLink]="'/services/windowslogin'">
        <span class="serviceIcon"><i style="color:#04b6e4;" class="fa fa-windows"></i></span>
        <span class="serviceIconTitle">Windows Login</span>
      </div>

      <div class="serviceModuleCard" [routerLink]="'/services/citrixaccess'">
        <span class="serviceIcon"><i style="color:#5dd9e6;" class="fa fa-user-secret"></i></span>
        <span class="serviceIconTitle">Citrix Access</span>
      </div>

      <div class="serviceModuleCard" [routerLink]="'/services/vpnaccess'">
        <span class="serviceIcon"><i style="color:#3ac059;" class="fa fa-link"></i></span>
        <span class="serviceIconTitle">VPN Access</span>
      </div>

      <div class="serviceModuleCard" [routerLink]="'/services/urlorinternetaccess'">
        <span class="serviceIcon"><i style="color:#7fb019;" class="fa fa-desktop"></i></span>
        <span class="serviceIconTitle">URL/Internet Access</span>
      </div>

      <div class="serviceModuleCard" [routerLink]="'/services/wifiaccess'">
        <span class="serviceIcon"><i style="color:#a5cc82;" class="fa fa-wifi"></i></span>
        <span class="serviceIconTitle">Wifi Access</span>
      </div>

      <div class="serviceModuleCard" [routerLink]="'/services/fileserveroraccessforfolderaccess'">
        <span class="serviceIcon"><i style="color:#f7d367;" class="fa fa-folder-open"></i></span>
        <span class="serviceIconTitle">File Server/ Access For Folders</span>
      </div>

      <div class="serviceModuleCard" [routerLink]="'/services/backuprestoration'">
        <span class="serviceIcon"><i style="color:#c8c8c9;" class="fa fa-database"></i></span>
        <span class="serviceIconTitle">Backup & Restoration</span>
      </div>

      <div class="serviceModuleCard" [routerLink]="'/services/remoteaccess'">
        <span class="serviceIcon"><i style="color:#f75421;" class="fa fa-asterisk"></i></span>
        <span class="serviceIconTitle">Remote Access</span>
      </div>

      <div class="serviceModuleCard" [routerLink]="'/services/antivirus'">
        <span class="serviceIcon"><i style="color:#77bf4f;" class="fa fa-shield"></i></span>
        <span class="serviceIconTitle">Antivirus</span>
      </div>

      <div class="serviceModuleCard" [routerLink]="'/services/virtualmeeting'">
        <span class="serviceIcon"><i style="color:#f671a4;" class="fa fa-comments-o"></i></span>
        <span class="serviceIconTitle">Virtual Meeting</span>
      </div> -->

    </div>

  </div>
</div>