<div class="container-implement">
  <div class="notification-sucess" *ngIf="messagesuccess">
    <p>Saved Successfully!</p>
    <span class="close-btn" (click)="navigatesuccess()">Ok</span>
  </div>
  <div class="notification" *ngIf="messageerror">
    <span class="close-btn" (click)="closeNotification()">&times;</span>
    <p>Not Saved</p>
  </div>
  <div class="container-field-line">

    <!-- bootstrap -->
    <h3>New CheckList</h3>
    <div class="border-rfc-heading">
      <div class="row mt-2">
        <div class="col">
          <label>Module Name</label>
          <select [(ngModel)]="supportID">
            <option value="">Select Module Name</option>
            <option *ngFor="let cldata of support" [value]="cldata.supportId">{{cldata.supportName}}</option>
          </select>
        </div>

        <div class="col">
          <label>Plant Name</label>
          <ng-multiselect-dropdown [settings]="dropdownSettings"
                                   [data]="dropdownList"
                                   [(ngModel)]="selectedlocationNames"
                                   (ngModelChange)="onSelectedItemsChange()">
          </ng-multiselect-dropdown>
          <!--<select [(ngModel)]="plantID">
            <option value="">Select Plant code</option>
            <option *ngFor="let cldata of plantcode" [value]="cldata.id">{{cldata.code}}</option>
          </select>-->
        </div>

        <div class="col">
          <label>Classification Name</label>
          <select [(ngModel)]="classificationID">
            <option value="">Select classification Name</option>
            <option *ngFor="let cldata of caclasification" [value]="cldata.itclassificationId">{{cldata.classificationName}}</option>
          </select>
        </div>

        <div class="row mt-2">
          <div class="col">
            <label>Category Name</label>
            <select [(ngModel)]="categoryID">
              <option value="">Select categoryName</option>
              <option *ngFor="let cldata of categoryName" [value]="cldata.itcategoryId">{{cldata.categoryName}}</option>
            </select>
          </div>
          <div class="col">
            <label>CheckList Title</label>
            <input type="text" placeholder="checkList Title" [(ngModel)]="checklistTitle" />
          </div>
          <div class="col">
            <label>Mandatory Flag</label><br />

            <select style="width:22%" [(ngModel)]="mandatoryFlags">
              <option value="">Select Flag</option>
              <option [ngValue]="true">True</option>
              <option [ngValue]="false">False</option>
            </select>
          </div>

        </div>
        <div>
          <div>
            <label>CheckList Desc</label>
            <textarea class="textarea-implement" [(ngModel)]="checklistDesc" matInput rows="2" cols="10" placeholder="checkList Desc"> </textarea>
            <!--          <input type="text" placeholder="checkList Desc" [(ngModel)]="checklistDesc" />
            -->
          </div>
        </div>
      </div>

    </div>


  </div>
  <button (click)="postCheckList()" class="btn btn-primary">Submit</button>
  <button [routerLink]="'/viewcheklist'" style="margin-left: 2%;" class="btn btn-primary">Back</button>

</div>

