<form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="loginMainDiv">
    <div class="login-page">

        <div class="login-card">

            <div>
                <h2>Log in to CandorHQ</h2>
                <p class="sub-text">
                    Enter your details to access your account.
                </p>
            </div>

            <!-- Email -->
            <div class="input-group">
                <label>Email Address</label>

                <div class="input-field">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" formControlName="email" placeholder="Enter your email address" />
                </div>

                <!-- Validation -->
                <div class="error" *ngIf="submitted && f['email'].errors">
                    <small *ngIf="f['email'].errors['required']">
                        Email is required
                    </small>
                    <small *ngIf="f['email'].errors['email']">
                        Enter a valid email
                    </small>
                </div>
            </div>

            <!-- Password -->
            <div class="input-group">
                <label>Password</label>

                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>

                    <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
                        placeholder="Enter your password" />

                    <i class="eye-icon" [ngClass]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-regular fa-eye'"
                        (click)="togglePassword()"></i>
                </div>

                <!-- Validation -->
                <div class="error" *ngIf="submitted && f['password'].errors">
                    <small *ngIf="f['password'].errors['required']">
                        Password is required
                    </small>
                    <small *ngIf="f['password'].errors['minlength']">
                        Minimum 6 characters required
                    </small>
                </div>
            </div>

            <!-- Remember -->
            <div class="remember-row">
                <div class="remember-left">
                    <input type="checkbox" formControlName="remember" />
                    <span>Remember me</span>
                </div>

                <a href="#">Forgot password?</a>
            </div>

            <!-- Button -->
            <button type="submit" class="login-btn">
                Log In
            </button>

            <!-- Signup -->
            <p class="signup-text">
                Don’t have an account?
                <a href="#">Sign up</a>
            </p>

        </div>

    </div>
</form>