<div class="card common_card">
  <div class="card-body">
    <p style="color: #15455c; font-size: large; white-space: nowrap;">RFC # : {{crid.crcode}} &nbsp;|&nbsp;RFC Date : {{crid.crdate|
      date:'dd-MM-yyyy'}}</p>
  </div>
</div>

<div>
  <div class="container">
    <article>
      <div>
        <div class="track">
          <div class="step" [ngClass]="{'active': draftgreen}">
            <span class="icon"> <i class="fa fa-check"></i> </span>
            <span class="text">Drafts</span>
            <span></span>
          </div>
          <div *ngIf="pendingapprove" class="step" [ngClass]="{'active': submitactive,'inactive': submitinactive}">
            <span class="icon"> <i class="fa fa-check"></i></span>
            <span class="text">Pending Approval</span>
            <span class="date-status"></span>
          </div>
          <div *ngIf="rejectedcr" class="step" [ngClass]="{'rejected': rejectedcr}">
            <span class="icon"><i class="fa fa-check"></i></span>
            <span class="text">Rejected</span>
          </div>
          <div *ngIf="!rejectedcr" class="step" [ngClass]="{'active': approveactive,'inactive': approveinactive}">
            <span class="icon"><i class="fa fa-check"></i></span>
            <span class="text">Approved</span>
          </div>
          <div *ngIf="!rejectedcr" class="step" [ngClass]="{'active': executeactive,'inactive': executeinactive}">
            <span class="icon"><i class="fa fa-check"></i></span>
            <span class="text">Implemented</span>
          </div>
          <div *ngIf="!rejectedcr" class="step" [ngClass]="{'active': releaseactive,'inactive': releaseinactive}">
            <span class="icon"><i class="fa fa-check"></i></span>
            <span class="text">Released</span>
          </div>
          <div *ngIf="!rejectedcr" class="step" [ngClass]="{'active': completactive,'inactive': completinactive}">
            <span class="icon"><i class="fa fa-check"></i></span>
            <span class="text">Completed</span>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>