
input[type="file"] {
    width: unset !important;
}

.container{
    margin: 20px;
    width: unset !important;
  }

  .d-flex{
    justify-content: end;
  }

  .d-flex button{
    margin: 0px 15px;
  }

  .placeIcon{
    /* display: flex;
    justify-content: center; */
    margin-top: 18px;
    text-align: center;
  }

  tr{
    margin: 10px 0px;
  }
  .doc-table{
    display: flex;
  }
  table {
    border-spacing: 0 10px;
  }