<div class="updateReferncemastermainDiv">

  <div style="margin-left : 3%;">
    <app-support-sidebar></app-support-sidebar>
  </div>

  <div class="container-implement">
    <div class="container-field-line">

      <!-- bootstrap -->
      <h3>Update Reference</h3>
      <div class="border-rfc-heading">
        <div class="row mt-2">
          <div class="col">
            <label>Reference ID</label>
            <input type="text" [(ngModel)]="updatevalue[0].referenceId" readonly />
          </div>
          <div class="col">
            <label>Reference Name</label>
            <input type="text" [(ngModel)]="updatevalue[0].referenceName" />
          </div>
          <div class="col">
            <label>Is Active</label>

            <select [(ngModel)]="updatevalue[0].isActive">
              <option>Select</option>
              <option [ngValue]="true">True</option>
              <option [ngValue]="false">False</option>
            </select>
          </div>


        </div>

      </div>
      <div class="row mt-2">
        <div class="col">
          <button (click)="postRefrencePost()" class="btn btn-primary">Submit</button>
        </div>
        <div class="col">
          <button [routerLink]="'/Refrencemaster'" style="margin-left: -87%;" class="btn btn-primary">Back</button>

        </div>

      </div>
    </div>
  </div>


</div>