<div class="main-wrapper">

  <div class="sidebar-section">
    <app-support-sidebar></app-support-sidebar>
  </div>

  <div class="content-section">

    <div class="top-search-bar">
      <label class="labeCss">Search Employee Name</label>
      <div class="search-box">
        <input type="text" [(ngModel)]="searchText" (input)="filterData()" placeholder="Search..." />
        <i class="fa fa-search"></i>
      </div>
    </div>

    <div class="user-card">

      <div class="card-header">
        <h3>User Configuration</h3>

        <div class="header-actions">
          <button class="new-btn" [routerLink]="'/mastermodule/userconfiguration'">
            New <i class="fa fa-plus-circle"></i>
          </button>

          <i class="fa fa-filter filter-icon"></i>
        </div>
      </div>

      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Sr.No.</th>
              <th>Employee ID</th>
              <th>Employee Name</th>
              <th>Project ID</th>
              <th>Category</th>
              <th>CategoryType</th>
              <th>Classification</th>
              <th>Module Name</th>
              <th>Change Analyst</th>
              <th>Approver</th>
              <th>Support Engineer</th>
              <th>Admin</th>
              <th>Delete</th>
              <th>View</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let data of pagedData; let i=index">
              <td>{{ data.srNo }}</td>

              <td>{{data.empId}}</td>
              <td>{{ data.firstName ? data.firstName + " " : ""}}{{ data.middleName ? data.middleName + " " : ""}}{{
                data.lastName ? data.lastName : "" }}</td>
              <td>{{ data.code }}</td>
              <td>{{ data.categoryName }}</td>
              <td>{{ data.categoryType }}</td>

              <td>{{ data.classificationName }}</td>
              <td>{{ data.supportName }}</td>
              <td>
                <ng-container *ngIf="data.ischangeanalyst; else notChangeAnalyst">
                  <i class="fas fa-check"></i>
                </ng-container>
                <ng-template #notChangeAnalyst>
                  <i class="fas fa-times"></i>
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="data.isApprover; else notApprover">
                  <i class="fas fa-check"></i>
                </ng-container>
                <ng-template #notApprover>
                  <i class="fas fa-times"></i>
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="data.issupportengineer; else notSupportEngineer">
                  <i class="fas fa-check"></i>
                </ng-container>
                <ng-template #notSupportEngineer>
                  <i class="fas fa-times"></i>
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="data.isadmin; else notadmin">
                  <i class="fas fa-check"></i>
                </ng-container>
                <ng-template #notadmin>
                  <i class="fas fa-times"></i>
                </ng-template>
              </td>

              <td>
                <i class="fa fa-trash delete-icon"
                  (click)="deleteRow(data.supportTeamId,data.empId,data.supportTeamAssgnId,data.plantId,data.categoryId,data.classificationId,data.isApprover)">
                </i>
              </td>

              <td>
                <i class="fa fa-eye view-icon" (click)="navigate(data.supportTeamId)">
                </i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="paginator">
        <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex"
          [pageSizeOptions]="[5,10,25,100,150]" (page)="onPageChange($event)">
        </mat-paginator>
      </div>

    </div>
  </div>
</div>