<div class="assetMaindiv">

    <div style="margin-left: 3%">
        <app-asset-sidebar></app-asset-sidebar>
    </div>

    <div class="row newissue">

        <div class="assetHeadingWrapper">

            <button class="backBtn" (click)="navigateToBack()">
                BACK <span class="arrow">◀</span>
            </button>

            <div class="headingCenter">
                <img src="assets/image/IT_asset.png" class="headingIcon" />
                <span class="headingTitle">Asset Request</span>
            </div>

        </div>

        <div class="toggle-wrapper d-flex justify-content-center">
            <button class="toggle-button" [ngClass]="{ 'active': isAssetActive=='S' }"
                (click)="toggleMyServiceTable('S')" *ngIf="asetListShow">
                ASSET LIST
            </button>
            <button class="toggle-button" [ngClass]="{ 'active': isAssetActive=='P' }"
                (click)="toggleMyServiceTable('P')" *ngIf="pendingAssetListShow">
                PENDING APPROVALS
            </button>

            <div class="col-4" style="position: absolute;">
                <div style="display: flex; justify-content: flex-end; white-space: nowrap; gap: 55%;">
                    <button class="toggle-button" [ngClass]="{ 'active': isAssetActive=='M' }"
                        (click)="toggleMyServiceTable('M')">
                        MY ASSET
                    </button>
                    <div style="display: flex;  gap: 25px;">
                        <span class="filterIconClass" (click)="toggleVisibility()"><i class="fa fa-filter"
                                aria-hidden="true"></i></span>
                        <button class="button-approve" style="margin-top:0;" [routerLink]="['/assets/itasset']">New IT
                            Assets</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="actionRow">

            <button class="backBtn" [disabled]="disableAssign" (click)="onButtonClick($event, 'true')">
                Assign To
            </button>

            <div class="field" *ngIf="assignToDropDown">
                <select required [(ngModel)]="assign" class="onHoldDropDown">
                    <option value="" selected disabled hidden>Select Assign to</option>
                    <option *ngFor="let assign of assignToList" [value]="assign.empId">
                        {{assign.empId}} - {{assign.firstName}} {{assign.middleName}} {{assign.lastName}}
                    </option>
                </select>

                <button type="submit" class="resolutionBtns" (click)="onButtonClick($event, 'false')">
                    Submit
                </button>
            </div>

            <button class="backBtn" [disabled]="disableReAssign" (click)="onButtonClick($event, 'reAssign')">
                Re-Assign To
            </button>

            <div class="field" *ngIf="reAssignToDropDown">
                
                <select required [(ngModel)]="reAssign" class="onHoldDropDown">
                    <option value="" selected disabled hidden>Select Re-Assign to</option>
                    <option *ngFor="let assign of reAssignToList" [value]="assign.empId">
                        {{assign.empId}} - {{assign.firstName}} {{assign.middleName}} {{assign.lastName}}
                    </option>
                </select>

                <button type="submit" class="resolutionBtns" (click)="onButtonClick($event, 'reAssignSubmit')">
                    Submit
                </button>
            </div>

            <div class="toggle-wrapper1" *ngIf="isAssetActive=='M'">
                <button class="toggle-button1" [ngClass]="{ 'active': isOpenAsset }"
                    (click)="toggleMyServiceTable(isAssetActive,false,true)">
                    Open
                </button>

                <button class="toggle-button1" [ngClass]="{ 'active': !isOpenAsset }"
                    (click)="toggleMyServiceTable(isAssetActive,false,false)">
                    Resolved
                </button>
            </div>

        </div>

        <div class="card change_request_card_filter" [@expandCollapseAnimation] *ngIf="isVisible">
            <div class="card-body card_body_filter" [formGroup]="filterForm">
                <div class="row filter_cr">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Service</mat-label>
                            <mat-select formControlName="service">
                                <mat-option selected disabled hidden value="">Select Request Type</mat-option>
                                <mat-option value="New">New</mat-option>
                                <mat-option value="Replace">Replace</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status">
                                <mat-option value="Draft">Draft</mat-option>
                                <mat-option value="Pending Approval">Pending Approval</mat-option>
                                <mat-option value="Approved">Approved</mat-option>
                                <mat-option value="Open">Open</mat-option>
                                <mat-option value="In Progress">In Progress</mat-option>
                                <mat-option value="Seek Clarification">Seek Clarification</mat-option>
                                <mat-option value="Submit Clarification">Submit Clarification</mat-option>
                                <mat-option value="On Hold">On Hold</mat-option>
                                <mat-option value="Resolved">Resolved</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <label>Start Date:</label><br />
                        <input class="input-change cr_date" type="date" id="fromDate" name="fromDate" required
                            formControlName="StartDate" />
                    </div>
                    <div class="col">
                        <label>End Date:</label><br />
                        <input class="input-change cr_date" type="date" id="toDate" name="toDate"
                            [min]="this.filterForm.value['StartDate']" formControlName="EndDate">
                    </div>
                </div>
                <div class="justify-content-end d-flex">
                    <div>
                        <button class="btn btn-rounded filter_button"
                            (click)="filetSerList()">Filter</button>&nbsp;&nbsp;&nbsp;
                    </div>
                    <div>
                        <button type="reset" class="btn btn-rounded filter_button"
                            (click)="reset()">Reset</button>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>

        <div class="tableBox">
            <div class="customTableWrapper">

                <div class="customTableHeader">
                    <div class="headerCell select-col">
                        <input type="checkbox" [(ngModel)]="Allselected" (change)="selectAll($event)">Select
                    </div>
                    <div class="headerCell">Asset Code</div>
                    <div class="headerCell">Request Type</div>
                    <div class="headerCell">Requested On</div>
                    <div class="headerCell">Requested By</div>
                    <div class="headerCell">Requested For</div>
                    <div class="headerCell">Status</div>
                    <div class="headerCell">Approval Pending With?</div>
                    <div class="headerCell">Assign To</div>
                    <div class="headerCell">Action</div>
                </div>

                <div class="customTableBody">

                    <div class="customRow" *ngFor="let row of paginatedData">

                        <div class="bodyCell select-col">
                            <input type="checkbox" [(ngModel)]="row.selected" [value]="row"
                                (change)="toggleRowSelection(row)">
                        </div>

                        <div class="bodyCell">{{row.assetCode}}</div>
                        <div class="bodyCell">{{row.requesttype}}</div>
                        <div class="bodyCell">{{row.createdDt | date:'dd/MM/yyyy'}}</div>
                        <div class="bodyCell">
                            {{row.requestedByName + ' ('+row.requestedBy+')'}}
                        </div>

                        <div class="bodyCell">
                            {{row?.srselectedfor=='guest' ?
                            row?.guestName + ' ('+row?.guestId+')' :
                            row?.requestedForName + '('+row?.requestedFor+' )'}}
                        </div>

                        <div class="bodyCell">
                            <span class="status-badge" [ngClass]="{
                  'completed': row.status=='Completed',
                  'progress': row.status=='In Progress',
                  'open': row.status=='Open',
                  'pending': row.status=='Pending Approval',
                  'approved': row.status=='Approved'
                }">
                                {{row.status}}
                            </span>
                        </div>

                        <div class="bodyCell">
                            {{row?.status?.trim()!='Pending Approval' &&
                            row?.status?.trim()!='Pending HOD Approval'
                            ? '-' :
                            (row?.selectedFor?.trim()=='guest'
                            ? (row.guestReportingManagerName+' ('+row.guestReportingManagerEmployeeId+')')
                            : (row?.status?.trim()=='Pending Approval'
                            ? row?.rpmToName
                            : row?.hodToName))
                            }}
                        </div>

                        <div class="bodyCell"
                            [ngStyle]="{'color': (row?.assignedTo==0 || row?.assignedTo == null) ? 'red': ''}">
                            {{row?.assignedTo==0 || row?.assignedTo == null
                            ? 'Not Assigned'
                            : row?.assignedToName}}
                        </div>

                        <div class="bodyCell actionCell">
                            <i class="fa fa-pencil-square-o cursor-pointer"
                                (click)="navigateToEdit(row?.itassetId)"></i>

                            <i class="fa-solid fa-trash cursor-pointer" *ngIf="row?.status?.trim()=='Draft'"
                                (click)="delete(row.itassetId)"></i>
                        </div>

                    </div>

                    <div class="noData" *ngIf="assetList?.length === 0">
                        <i class="fa fa-search"></i> No Data Available
                    </div>

                </div>
            </div>

            <div class="mb-5" style="margin-left: 55%;">
                <mat-paginator [length]="formFilteredList?.length" [pageSize]="pageSize" [pageIndex]="pageIndex"
                    [pageSizeOptions]="[10, 25, 50, 100]" (page)="onPageChange($event,false)">
                </mat-paginator>
            </div>

        </div>

    </div>
    <br>
</div>