<div style="background: white; width: 95%; margin-left: 2.5%; border-radius: 40px; display: flex;">

    <div style="margin-left: 3%">
        <app-asset-sidebar></app-asset-sidebar>
    </div>

    <div class="row newissue">

        <div class="spareHeaderContainer">

            <button class="btn-back" (click)="navigateToBack()" type="button">
                BACK ◀
            </button>

            <div class="spareHeaderCenter">
                <i class="fa fa-tools spareHeaderIcon"></i>
                <p class="sparepageHeadingparaCss">SPARE REQUEST</p>
            </div>

        </div>
        <div>

            <div class="toggle-wrapper d-flex justify-content-center mt-3">
                <button class="toggle-button" [ngClass]="{ 'active': isAssetActive=='S' }"
                    (click)="toggleMyServiceTable('S')" *ngIf="asetListShow">
                    SPARE LIST
                </button>
                <button class="toggle-button" [ngClass]="{ 'active': isAssetActive=='P' }"
                    (click)="toggleMyServiceTable('P')" *ngIf="pendingAssetListShow">
                    PENDING APPROVALS
                </button>
            </div>

            <!-- <div class="col-4" style="position: absolute; right: 26px;">
                <button class="toggle-button3" [ngClass]="{ 'active': isAssetActive=='M' }"
                    (click)="toggleMyServiceTable('M')">
                    MY SPARE
                </button>
                <div style="display: flex; justify-content: flex-end;">
                    <span class="filterIconClass" (click)="toggleVisibility()"><i class="fa fa-filter"
                            aria-hidden="true"></i></span>
                    &nbsp;
                    <button class="button-approve" style="margin-top:0;" [routerLink]="['/assets/itspare']">New IT
                        Spare</button>
                </div>
            </div> -->

            <div class="spareTopBar">

                <!-- Left Title -->
                <div class="mySpareTitle" [ngClass]="{ 'active': isAssetActive=='M' }"
                    (click)="toggleMyServiceTable('M')">
                    My Spare
                </div>

                <!-- Right Section -->
                <div class="spareRightSection">

                    <span class="filterIconClass" (click)="toggleVisibility()">
                        <i class="fa fa-filter"></i>
                    </span>

                    <button class="button-approve" [routerLink]="['/assets/itspare']">
                        New IT Spare
                    </button>

                </div>

            </div>


        </div>
        <div class="card change_request_card_filter" [@expandCollapseAnimation] *ngIf="isVisible">
            <div class="card-body card_body_filter" [formGroup]="filterForm">
                <div class="row filter_cr">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Service</mat-label>
                            <mat-select formControlName="service">
                                <mat-option selected disabled hidden value="">Select Request Type</mat-option>
                                <mat-option value="New">New</mat-option>
                                <mat-option value="Replace">Replace</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status">
                                <mat-option value="Draft">Draft</mat-option>
                                <mat-option value="Pending Approval">Pending Approval</mat-option>
                                <mat-option value="Approved">Approved</mat-option>
                                <mat-option value="Open">Open</mat-option>
                                <mat-option value="In Progress">In Progress</mat-option>
                                <mat-option value="Seek Clarification">Seek Clarification</mat-option>
                                <mat-option value="Submit Clarification">Submit Clarification</mat-option>
                                <mat-option value="On Hold">On Hold</mat-option>
                                <mat-option value="Resolved">Resolved</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <label>Start Date:</label><br />
                        <input class="input-change cr_date" type="date" id="fromDate" name="fromDate" required
                            formControlName="StartDate" />
                    </div>
                    <div class="col">
                        <label>End Date:</label><br />
                        <input class="input-change cr_date" type="date" id="toDate" name="toDate"
                            [min]="this.filterForm.value['StartDate']" formControlName="EndDate">
                    </div>
                </div>
                <div class="justify-content-end d-flex">
                    <div>
                        <button class="btn btn-rounded filter_button"
                            (click)="filetSerList()">Filter</button>&nbsp;&nbsp;&nbsp;
                    </div>
                    <div>
                        <button type="reset" class="btn btn-rounded filter_button"
                            (click)="reset()">Reset</button>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>


        <div class="d-flex">
            <button class="button-approve" style="margin: 1% 0% 1% 8%; height: 55px;" [disabled]="disableAssign"
                (click)="onButtonClick($event, 'true')">Assign To</button>
            <div class="d-flex field" *ngIf="assignToDropDown">
                <select required [(ngModel)]="assign" class="onHoldDropDown">
                    <option value="" selected disabled hidden>Select Assign to</option>
                    <option *ngFor="let assign of assignToList" value="{{assign.empId}}">{{assign.empId+' '+'-'+'
                        '+assign.firstName+' '+assign.middleName+' '+assign.lastName }}
                    </option>
                </select>
                &nbsp;&nbsp;&nbsp;<button type="submit" class="resolutionBtns"
                    (click)="onButtonClick($event, 'false')">Submit</button>
            </div>

            <button class="button-approve" style="margin: 1% 0% 1% 1%; height: 55px;" [disabled]="disableReAssign"
                (click)="onButtonClick($event, 'reAssign')">Re-Assign To</button>
            <div class="d-flex field" *ngIf="reAssignToDropDown">
                <select required [(ngModel)]="reAssign" class="onHoldDropDown">
                    <option value="" selected disabled hidden>Select Re-Assign to</option>
                    <option *ngFor="let assign of reAssignToList" value="{{assign.empId}}">{{assign.empId+' '+'-'+'
                        '+assign.firstName+' '+assign.middleName+' '+assign.lastName }}
                    </option>
                </select>
                &nbsp;&nbsp;&nbsp;<button type="submit" class="resolutionBtns"
                    (click)="onButtonClick($event, 'reAssignSubmit')">Submit</button>
            </div>
            <div class="d-flex justify-content-center">

                <div class="col-md-4"
                    style="display: flex !important; justify-content: center !important; width: 90%; height: 35%; margin-top: 25%;">
                    <div class="toggle-wrapper1" *ngIf="isAssetActive=='M'">
                        <button class="toggle-button1" [ngClass]="{ 'active': isOpenAsset }"
                            (click)="toggleMyServiceTable(isAssetActive,false,true)">
                            Open
                        </button>
                        <button class="toggle-button1" [ngClass]="{ 'active': !isOpenAsset }"
                            (click)="toggleMyServiceTable(isAssetActive,false,false)">
                            Resolved
                        </button>
                    </div>
                </div>
            </div>

        </div>


        <div class="tableBox">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th style="text-align: center;"> <input style="text-align:center;" type="checkbox"
                                    style="width: 20px;" [(ngModel)]="Allselected" (change)="selectAll($event)">Select
                            </th>
                            <th>Asset Code</th>
                            <th>Request Type</th>
                            <th>Requested On</th>
                            <th>Requested By</th>
                            <th>Requested For</th>
                            <th>Status</th>
                            <th>Approval Pending With</th>
                            <th>Assign To</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let row of paginatedData">
                            <td style="text-align: center;"><input type="checkbox" [(ngModel)]="row.selected"
                                    [value]="row" (change)="toggleRowSelection(row)" name="one" id="one"
                                    style="width: 40px;" /></td>
                            <td>{{row.itspareCode}}</td>
                            <td>{{row.requesttype}}</td>
                            <td>{{row.createdDt | date:'dd/MM/yyyy'}}</td>
                            <td>{{row.requestedByName}}</td>
                            <td>{{row?.srselectedfor=='guest'?row?.guestName + ' ('+row?.guestId+'
                                )':row?.requestedForName+
                                '
                                ('+row?.requestedFor+' )'}}</td>
                            <!-- <td>{{row.status}}</td> -->
                            <td>
                                <span class="status-pill" [ngClass]="{
          'Open': row.status=='Open',
          'progress': row.status=='In Progress',
          'cancel': row.status=='Seek Clarification',
          'pending': row.status=='Pending Approval',
          'approved': row.status=='Approved',
          'submitClarification' : row.status == 'Submit Clarification',
          'onHold' : row.status == 'On Hold',
          'draft' : row.status == 'Draft',
          'resolved' : row.status == 'Resolved'
        }">
                                    {{row.status}}
                                </span>
                            </td>
                            <td>{{row?.status?.trim()!='Pending Approval'&&row?.status?.trim()!='Pending HOD
                                Approval'?'-':(row?.srselectedfor?.trim()=='guest'?(row.guestReportingManagerName+'
                                ('+row.guestReportingManagerEmployeeId+')'):
                                (row?.status?.trim()=='Pending Approval'?row?.rpmToName:row?.hodToName))}}</td>


                            <td [ngStyle]="{'color': (row?.assignedTo==0 || row?.assignedTo == null) ? 'red': ''}">
                                {{row?.assignedTo==0 ||
                                row?.assignedTo == null ? 'Not Assigned':row?.assignedToName}}</td>

                            <td>
                                <a><i class="fa fa-pencil-square-o cursor-pointer" aria-hidden="true"
                                        (click)="navigateToEdit(row?.itspareId)"></i></a>
                                <i class="fa-solid fa-trash cursor-pointer" *ngIf="row?.status?.trim()=='Draft'"
                                    (click)="delete(row.itspareId)"></i>
                            </td>
                        </tr>

                        <tr *ngIf="spareList?.length === 0">
                            <td colspan="8" style="text-align: center;">
                                <i style="color: #3e8cba;font-size: 20px;" class="fa fa-search"></i>
                                No Data Available
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="mb-5">
                <div>
                    <mat-paginator [length]="formFilteredList?.length" [pageSize]="pageSize" [pageIndex]="pageIndex"
                        [pageSizeOptions]="[10, 25, 50, 100]" (page)="onPageChange($event,false)"
                        aria-label="Select page" style="padding-right: 25%">
                    </mat-paginator>
                </div>
            </div>
        </div>

    </div>

</div>