<div class="container-implement">
  <div class="container-field-line">

    <!-- bootstrap -->
    <h3>Update Category</h3>
    &nbsp;
    <div class="border-rfc-heading">
      <div class="row mt-2">
        <div class="col">

          <label>Category ID</label>
          <input  type="text" [(ngModel)]="updatevalue[0].itcategoryId" readonly />
        </div>
        <div class="col">

          <label>Category Name</label>
          <input  type="text" placeholder="CategoryName" [(ngModel)]="updatevalue[0].categoryName" />
        </div>
        <!-- <div class="col">
          <label>Support Id</label>
          <input type="text" placeholder="SupportId" [(ngModel)]="updatevalue[0]. />
        </div>-->
        <div class="col">
          <label>Is Active</label>

          <select [(ngModel)]="updatevalue[0].isActive">
            <option>Select</option>
            <option [ngValue]="true">True</option>
            <option [ngValue]="false">False</option>
          </select>

        </div>


      </div>

    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <button (click)="postcategorytyp()" class="btn btn-primary">Submit</button>
    </div>
    <div class="col">
      <button [routerLink]="'/ChageRequest-Masters'" style="margin-left: -87%;" class="btn btn-primary">Back</button>

    </div>

  </div>
</div>
