<form [formGroup]="wifiForm">
    <div class="card service_card br-top-blue">
        <div class="card-body">
            <app-sr-details-self-others-guest [srData]="srData" (radioBtnValues)="getDatafromRadios($event)" />
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="requestTypeClass">
                            <div>
                                <label class="asteriskrequired">Request Type</label>
                                <select formControlName="requestType" name="requestType"
                                    (change)="changeRequestTypeValue()">
                                    <option selected disabled hidden value="">Select Request Type</option>
                                    <option *ngFor="let requesttype of requestTypeList" [value]="requesttype.supportId">
                                        {{requesttype.supportName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row"
                        *ngIf="wifiForm.get('requestType')?.value == 72 || wifiForm.get('requestType')?.value == 73">
                        <div class="inputFields">
                            <div>
                                <label class="asteriskrequired" for="specifyPlant"
                                    customLabelAlert="Specify Plant">Specify Plant Name</label>
                                <input type="text" formControlName="specifyPlant" name="specifyPlant"
                                    id="specifyPlant" />
                            </div>

                            <div>
                                <label class="asteriskrequired" for="location">Location</label>
                                <ng-multiselect-dropdown formControlName="location" name="location" id="location"
                                    [settings]="locationDropdownSettings" [data]="locationList"
                                    [disabled]="wifiForm.controls['location'].disabled">
                                </ng-multiselect-dropdown>
                            </div>

                            <div>
                                <label class="asteriskrequired" for="specifyOfficeGuest"
                                    customLabelAlert="Specify for Office or Guest">Specify for Office or
                                    Guest</label>
                                <select formControlName="specifyOfficeGuest" name="specifyOfficeGuest"
                                    id="specifyOfficeGuest">
                                    <option selected disabled hidden value="">Select Below</option>
                                    <option>Office</option>
                                    <option>Guest</option>
                                </select>
                            </div>
                            <div>
                                <label class="asteriskrequired" for="fromDate">From Date</label>
                                <input type="date" [min]="formValidationService.todaysDate" [max]="formValidationService.maxDate"
                                formControlName="fromDate" name="fromDate" id="fromDate" />
                            </div>
                            <div>
                                <label class="asteriskrequired" for="toDate">To Date</label>
                                <input type="date" formControlName="toDate" [min]="wifiForm.value.fromDate" [max]="formValidationService.maxDate"
                                name="toDate" id="toDate" />
                            </div>
                            <div class="textAreaDiv">
                                <label class="asteriskrequired"
                                    for="purposeOrJustification">Purpose/Justification</label>
                                <textarea class="textAreaClass" formControlName="purposeOrJustification"
                                    name="purposeOrJustification"></textarea>
                            </div>
                            <!-- <div>
                                <label class="asteriskrequired" for="attachment">Attachment</label>
                                <input type="file" formControlName="attachment" name="attachment" />
                                <div *ngIf="attachmentFileName">{{ attachmentFileName }}</div>
                            </div> -->

                            <div  class="textAreaDiv">
                                <app-sr-attach-ment (attachMentListEvent)="getAttchmentList($event)" (removeAttchment)="removeAttchment($event)"
                                [title]="'Attachment'"></app-sr-attach-ment>
                            </div>
                        </div>
                    </div>

                    <div class="mainBtnsDiv"
                        *ngIf="wifiForm.get('requestType')?.value && ((srId==undefined||srId==null)||this.srData?.status.trim() == 'Draft')">
                        <button class="actionBtn" (click)="Submit('Draft')">Draft</button>
                        <button class="actionBtn" (click)="Submit('Pending Approval')">Submit</button>
                        <button class="actionBtn" (click)="clearAll()">Clear</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
