<div style="display: flex;align-items: center;">
    <div>
        <button class="addNewBtn" (click)="navigateTo()"
        *ngIf="!(this.projectdetails?.projectStatus=='Cancel'||this.projectdetails?.projectStatus=='Discontinue'||this.projectdetails?.projectStatus=='Completed'
            ||this.projectdetails?.projectStatus=='Approved'
        )">Add New</button>
    </div>

    <!-- <div class="d-flex justify-content-center" style="width: 85%;" *ngIf="issueTrackerForm.disabled">
        <div class="col-md-4" style="display: flex !important; justify-content: center !important;">
            <div class="toggle-wrapper1">
                <button class="toggle-button1" [ngClass]="{ 'active': true }">Open Issues</button>
                <button class="toggle-button1" [ngClass]="{ 'active': false }">My Issues</button>
            </div>
        </div>
    </div> -->
</div>

<div  class="tableDesign">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>SL. No.</th>
                    <th>Issue Code</th>
                    <th>Short Description</th>
                    <th>Milestone Title</th>
                    <th>Task</th>
                    <th>Sub-Task</th>
                    <th>Created Date</th>
                    <th>Assigned By</th>
                    <th>Assigned To</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let issue of issueList;let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{issue.issueCode}}</td>
                    <td>{{issue.description}}</td>
                    <td>{{issue.milestoneTitle}}</td>
                    <td>{{issue.taskTitle}}</td>
                    <td>{{issue.subTaskTitle}}</td>
                    <td>{{issue.createdDt | date : 'dd/MM/yy HH:mm'}}</td>
                    <td>{{issue.assignByName}}</td>
                    <td>{{issue.assignToName}}</td>
                    <td>{{issue.status}}</td>
                    <td>
                        <i class="fa fa-pencil-square-o cursor-pointer"  (click)="navigateTo(issue.issueId)"></i>
                        <i class="fa-solid fa-trash cursor-pointer" (click)="deleteIssue(issue.issueId)"
                        *ngIf="!(this.projectdetails?.projectStatus=='Cancel'||this.projectdetails?.projectStatus=='Discontinue'||this.projectdetails?.projectStatus=='Completed'
                            ||this.projectdetails?.projectStatus=='Approved'
                        )"></i>
                    </td>
                </tr>

                <tr *ngIf="issueList?.length === 0">
              <td colspan="6" style="text-align: center;">
                <i style="color: #3e8cba;font-size: 20px;" class="fa fa-search"></i>
                No Data Available
              </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>


