<form [formGroup]="basicInformationForm">

    <div class="regMainDiv">

        <div class="page-wrapper">

            <!-- LEFT SIDE -->
            <div class="register-content">

                <div class="logo-wrapper">
                    <img src="/assets/image/main_image.png" class="main-logo" />
                    <img src="/assets/image/hq_remove.png" class="text-logo" />
                </div>

                <img src="/assets/image/contact_image.png" class="illustration-img" />

                <div class="text-section">

                    <h2>Create your Candor HQ account</h2>

                    <p>
                        Join Candor HQ to collaborate, manage
                        <br>
                        and achieve more together.
                    </p>

                </div>

            </div>

            <!-- RIGHT SIDE -->
            <div class="form-container">

                <div class="form-header">

                    <h1>Create Your Account</h1>

                    <p>
                        Fill in the details below to get started.
                    </p>

                </div>

                <!-- STEPPER -->
                <div class="stepper">

                    <div class="step active">
                        <div class="step-circle">1</div>
                        <span>Work Details</span>
                    </div>

                    <div class="line"></div>

                      <div class="step active">

                        <div class="circle">2</div>
                        <span>Basic Information</span>

                    </div>

                    <div class="line"></div>

                    <div class="step">
                        <div class="step-circle">3</div>
                        <span>Security & Confirmation</span>
                    </div>

                </div>

                <!-- SECTION -->
                <div class="section">

                    <div class="section-title">

                        <i class="fa-regular fa-id-card"></i>
                        <h3>Personal Details</h3>

                    </div>

                    <div class="form-grid">

                        <!-- details -->
                        <div class="input-group">

                            <label>FirstName</label>

                            <div class="input-box">

                                <i class="fa-regular fa-user"></i>

                                <input type="text" placeholder="Enter firstName" formControlName="firstName">

                            </div>

                            <div class="error-message" *ngIf="submitted && f['firstName'].errors">

                                <span *ngIf="f['firstName'].errors['required']">
                                    FirstName name is required
                                </span>

                                <span *ngIf="f['firstName'].errors['minlength']">
                                    Minimum 3 characters required
                                </span>

                            </div>

                        </div>


                         <div class="input-group">

                            <label>MiddleName</label>

                            <div class="input-box">

                                <i class="fa-regular fa-user"></i>

                                <input type="text" placeholder="Enter middleName" formControlName="middleName">

                            </div>

                            <div class="error-message" *ngIf="submitted && f['middleName'].errors">

                                <span *ngIf="f['middleName'].errors['required']">
                                    MiddleName name is required
                                </span>

                                <span *ngIf="f['middleName'].errors['minlength']">
                                    Minimum 3 characters required
                                </span>

                            </div>

                        </div>


                         <div class="input-group">

                            <label>lastName</label>

                            <div class="input-box">

                                <i class="fa-regular fa-user"></i>

                                <input type="text" placeholder="Enter lastName" formControlName="lastName">

                            </div>

                            <div class="error-message" *ngIf="submitted && f['lastName'].errors">

                                <span *ngIf="f['lastName'].errors['required']">
                                    Employee name is required
                                </span>

                                <span *ngIf="f['lastName'].errors['minlength']">
                                    Minimum 3 characters required
                                </span>

                            </div>

                        </div>

                        <!-- PHONE -->
                        <div class="input-group">

                            <label>Phone Number</label>

                            <div class="input-box">

                                <i class="fa-solid fa-phone"></i>

                                <input type="text" placeholder="Enter phone number" formControlName="phoneNumber"
                                    maxlength="10" (input)="onlyNumbers($event)">

                            </div>

                            <div class="error-message" *ngIf="submitted && f['phoneNumber'].errors">

                                <span *ngIf="f['phoneNumber'].errors['required']">
                                    Phone number is required
                                </span>

                                <span *ngIf="f['phoneNumber'].errors['pattern']">
                                    Enter valid 10 digit number
                                </span>

                            </div>

                        </div>

                        <!-- EMAIL -->
                        <div class="input-group">

                            <label>Email Address</label>

                            <div class="input-box">

                                <i class="fa-regular fa-envelope"></i>

                                <input type="email" placeholder="Enter email address" formControlName="emailAddress">

                            </div>

                            <div class="error-message" *ngIf="submitted && f['emailAddress'].errors">

                                <span *ngIf="f['emailAddress'].errors['required']">
                                    Email is required
                                </span>

                                <span *ngIf="f['emailAddress'].errors['email']">
                                    Enter valid email address
                                </span>

                            </div>

                        </div>


                        <div class="input-group">

                            <label>Password</label>

                            <div class="input-box">

                                <i class="fa-solid fa-lock"></i>

                                <input [type]="showPassword ? 'text' : 'password'" placeholder="Enter password"
                                    formControlName="password">

                                <i class="fa-regular" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
                                    class="right-icon" (click)="togglePassword()"></i>

                            </div>

                            <div class="error-message"
                                *ngIf="(submitted || f['password'].touched) && f['password'].errors">

                                <span *ngIf="f['password'].errors['required']">Password is required</span>
                                <span *ngIf="f['password'].errors['minlength']">Minimum 6 characters</span>

                            </div>

                        </div>

                        <!-- CONFIRM PASSWORD -->
                        <div class="input-group">

                            <label>Confirm Password</label>

                            <div class="input-box">

                                <i class="fa-solid fa-lock"></i>

                                <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm password"
                                    formControlName="confirmPassword">

                                <i class="fa-regular" [ngClass]="showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"
                                    class="right-icon" (click)="toggleConfirmPassword()"></i>

                            </div>

                            <div class="error-message" *ngIf="submitted && f['confirmPassword'].errors">

                                <span *ngIf="f['confirmPassword'].errors['required']">
                                    Confirm password is required
                                </span>

                                <span *ngIf="f['confirmPassword'].errors['passwordMismatch']">
                                    Password does not match
                                </span>

                            </div>

                        </div>

                        <!-- DESIGNATION -->
                        <div class="input-group">

                            <label>Designation</label>

                            <div class="input-box">

                                <i class="fa-solid fa-briefcase"></i>

                                <select formControlName="designation">

                                    <option value="">
                                        Select designation
                                    </option>

                                    <option value="Developer">
                                        Developer
                                    </option>

                                    <option value="UI Designer">
                                        UI Designer
                                    </option>

                                    <option value="HR">
                                        HR
                                    </option>

                                    <option value="Manager">
                                        Manager
                                    </option>

                                </select>

                            </div>

                            <div class="error-message" *ngIf="submitted && f['designation'].errors">

                                <span *ngIf="f['designation'].errors['required']">
                                    Designation is required
                                </span>

                            </div>

                        </div>

                        <!-- DOB -->
                        <div class="input-group">

                            <label>Date of Birth</label>

                            <div class="input-box">

                                <i class="fa-regular fa-calendar"></i>

                                <input type="date" formControlName="dateOfBirth">

                            </div>

                            <div class="error-message" *ngIf="submitted && f['dateOfBirth'].errors">

                                <span *ngIf="f['dateOfBirth'].errors['required']">
                                    Date of birth is required
                                </span>

                            </div>

                        </div>

                        <!-- GENDER -->
                        <div class="input-group">

                            <label>Gender</label>

                            <div class="input-box">

                                <i class="fa-solid fa-venus-mars"></i>

                                <select formControlName="gender">

                                    <option value="">
                                        Select gender
                                    </option>

                                    <option value="Male">
                                        Male
                                    </option>

                                    <option value="Female">
                                        Female
                                    </option>

                                    <option value="Others">
                                        Others
                                    </option>

                                </select>

                            </div>

                            <div class="error-message" *ngIf="submitted && f['gender'].errors">

                                <span *ngIf="f['gender'].errors['required']">
                                    Gender is required
                                </span>

                            </div>

                        </div>

                    </div>

                    <!-- ADDRESS -->
                    <div class="address-section">

                        <div class="address-header">

                            <h4>Address Details</h4>

                            <div class="checkbox-group">

                                <input type="checkbox" formControlName="isSameAsBusinessAddress">

                                <label>
                                    Same as Business Address
                                </label>

                            </div>

                        </div>

                        <div class="address-grid">

                            <div class="input-group full-width">

                                <label>Address</label>

                                <div class="input-box">

                                    <i class="fa-solid fa-location-dot"></i>

                                    <input type="text" placeholder="Enter address" formControlName="addressLine">

                                </div>

                                <div class="error-message" *ngIf="submitted && f['addressLine'].errors">

                                    <span *ngIf="f['addressLine'].errors['required']">
                                        Address is required
                                    </span>

                                    <span *ngIf="f['addressLine'].errors['minlength']">
                                        Minimum 5 characters required
                                    </span>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <!-- FOOTER -->
                <div class="form-footer">

                    <div class="secure-text">
                        Your information is secure with us.
                    </div>

                    <div class="signin-text">

                        Already have an account?

                        <a href="#">
                            Sign in
                        </a>

                    </div>

                </div>

                <div class="btn-wrapper">

                    <button type="button" class="back-btn" (click)="previousStep()">

                        <i class="fa-solid fa-arrow-left"></i>

                        Back

                    </button>

                    <button type="button" class="next-btn" (click)="goToWorkDetails()">

                        Next Step →

                    </button>

                </div>

            </div>

        </div>

    </div>

</form>