<div class="container-home-s">
    <br>
    <div class="container-implement">
        <div class="table-wrapper" style="overflow-x: auto">
            <table class="fl-table">
                <thead class="table-head">
                    <tr class="border-bottom">
                        <th>ID</th>
                        <th>Support Type</th>
                        <th>Parent</th>
                        <th>Achive</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-body">
                        <td>1</td>
                        <td>Change Request</td>
                        <td>0</td>
                        <td>True</td>
                        <td>
                            <a href="" [routerLink]="'/cr-task'">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr class="tr-body">
                        <td>2</td>
                        <td>Approve Change Request</td>
                        <td>1</td>
                        <td>True</td>
                        <td>
                            <a href="" [routerLink]="'/cr-task'">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr class="tr-body">
                        <td>3</td>
                        <td>Execute Change Request</td>
                        <td>1</td>
                        <td>True</td>
                        <td>
                            <a href="" [routerLink]="'/cr-task'">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr class="tr-body">
                        <td>4</td>
                        <td>Approve Change Request</td>
                        <td>2</td>
                        <td>True</td>
                        <td>
                            <a href="" [routerLink]="'/cr-task'">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr class="tr-body">
                        <td>5</td>
                        <td>Service</td>
                        <td>3</td>
                        <td>True</td>
                        <td>
                            <a href="" [routerLink]="'/cr-task'">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr class="tr-body">
                        <td>6</td>
                        <td>Software</td>
                        <td>4</td>
                        <td>True</td>
                        <td>
                            <a href="" [routerLink]="'/cr-task'">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
