.main-layout {
  display: flex;
  background: #ffffff;
  width: 95%;
  margin: 20px auto;
  border-radius: 30px;
  margin-top: -2%;
}

.sidebar-section {
  width: 18%;
  padding: 20px;
}

.content-section {
  width: 80%;
  padding: 20px;
  background: white;
  border-radius: 30px;
  margin: 8px;
  margin-left: -40px;
}

.module-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 3px solid #2aa5a0;
}

.title-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 35%;
}



.module-header h2 {
  margin: 0;
  font-weight: 600;
}

.new-btn {
  background: #2aa5a0;
  color: white;
  border: none;
  padding: 6px 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}

.new-btn:hover {
  background: #238b87;
}

.search-section {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 600;
  color: #d9792b;
}

.search-box {
  position: relative;
}

.search-box input {
  padding: 8px 35px 8px 15px;
  border-radius: 20px;
  border: 1px solid #aaa;
  outline: none;
  width: 250px;
  margin-left: 10%;
}

.search-box i {
  position: absolute;
  right: 0;
  top: 30%;
  color: #2aa5a0;
}

.table-card {
  background: #fff;
  border-radius: 15px;
  border: 1px solid #ddd;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

thead {
  background: #f5efe3;
}

thead th {
  padding: 15px;
  color: #2aa5a0;
  font-weight: 600;
  border-bottom: 2px solid #2aa5a0;
  width: 0%;
}

tbody td {
  padding: 14px;
  border-bottom: 2px solid #eee;
  margin-left: 30%;
}

.module-name {
  font-weight: 600;
}

.active-true {
  color: #2aa5a0;
  font-weight: 600;
}

.active-false {
  color: #e74c3c;
  font-weight: 600;
}

.action-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.edit-icon {
  background: #2aa5a0;
  color: white;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 13px;
}

.delete-icon {
  color: #e74c3c;
  cursor: pointer;
  font-size: 20px;
  margin-top: 8%;
}

.paginator {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.labelcss {
  display: inline-block;
  font-size: larger;
  font-weight: bold;
}

.notification-confirm {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.confirm-btn {
  margin: 10px;
  padding: 6px 15px;
  border: none;
  border-radius: 5px;
  background: #2aa5a0;
  color: #fff;
}

.masterModeuleImg {
  width: 12%;
  margin-top: -3%;

}