/* The entire scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* The draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 10px;
}

/* The scrollbar track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

.pageHeadingCss {
  height: 49px;
  margin-left: 35% !important
}

.backBtn {
  background-color: #3c8dbc;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 0.5rem;
  margin-left: 12%;
}

input,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.actionBtn {
  background-color: #113bf7;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.actionBtn:hover {
  background-color: #0f31ca;
}

::ng-deep .mdc-tab--active {
  background-color: #113bf7 !important;
}

::ng-deep .mdc-tab--active .mdc-tab__text-label {
  color: white !important;
}

::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
  flex-grow: unset !important;
}

.br-top-blue {
  /* border-top: 6px solid #113bf7; */
  margin-top: 5px;
}

label.asteriskrequired::after {
  content: ' *';
  color: red;
}

.textAreaClass {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 70px;
}

.inputFields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  padding: 10px;
  gap: 10px;
}

.inputFields {
  select {
    padding: 9.5px 8px;
  }

  input[type="file"] {
    padding: 4.7px 8px !important;
  }
}

.textAreaDiv {
  grid-column: 1 / -1;
}

.mainBtnsDiv {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px 0 25px;
}

.requestTypeClass {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 10px;
  gap: 10px;
  max-width: 100%;
}

.requestTypeClass::after {
  content: "";
  grid-column: span 3;
}

.dropdowns-list {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.assetContainer {
  position: relative;
  width: 90%;
  margin-left: 8%;
  margin-bottom: 3%;
}

.assetHeadingDiv {
  position: relative;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  display: flex;
}

.assetTitle {
  text-align: center;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
}

.assetButtonContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.viewAssetsCont {
  position: absolute;
  right: 1%;
  top: 20%;
}

.assetBackBtn {
  background-color: #3c8dbc;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.assetMainModuleBox {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
  display: flex;
}

.assetContent {
  background-color: #f2f2f2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.backIcon {
  position: fixed;
  bottom: calc(145px + 2vh);
  background-color: #3c8dbc;
  color: white;
  border-radius: 50%;
  font-size: 15px;
  padding: 7px 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 98;
  transition: all 0.3s ease;
}

.assetCheckboxSection {
  display: flex;
  gap: 15px;
}

.assetCheckboxLabel {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-top: 5px;
}

.assetDetails {
  text-align: right;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 70px;
}

.green-tab {
  background-color: green;
  color: white;
  padding: 8px 19px;
  height: 30px;
  border-radius: 5px 5px 0 0;
}

.viewAssetHeadingDiv {
  position: relative;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px 5px 0 0;
}

.viewAssetMainModuleBox {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 0 0 5px 5px;
}

.viewAssetModules {
  /* display: grid;
    grid-template-columns: repeat(8, 1fr); */
  width: 100%;
  gap: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
}

@media (max-width: 1200px) {
  .viewAssetModules {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .viewAssetModules {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .viewAssetModules {
    grid-template-columns: 1fr;
  }
}

.assetModules {
  display: flex;
  justify-content: center;
  /* grid-template-columns: repeat(8, 1fr); */
  width: 100%;
  gap: 20px;
  text-align: center;
  /* justify-content: center;
  display: flex; */
}

.assetModuleCard {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: white;
  height: 120px;
  /* height: calc(10vh + 20px); */
  width: 120px;
  cursor: pointer;
}

.assetModuleCard:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border: none;
  transition: box-shadow 0.3s ease, color 0.3s ease;
}

.assetIcon {
  font-size: 25px;
}

.assetIconTitle {
  font-size: 16px;
}