<mat-tab-group [selectedIndex]="selectedTabIndex">
  <mat-tab>
    <ng-template mat-tab-label>
      <div>
        <span>Approve 1</span>
      </div>
    </ng-template>
    <div>
      <div class="br-top-blue card service_card" [formGroup]="approverForm">
        <div class="container-field-approve">
          <div class="border-rfc-heading">
            <div>
              <label
                style="color: #15455c; font-size: larger;">{{projectdetails?.projectOwnerName}}(<span>{{projectdetails?.projectOwner}}</span>)</label>

            </div>
            <div class="mt-2">
              <label class="asteriskrequired" style="color: #15455c; font-size: larger;">Remarks</label>
              <textarea class="textarea-implement" formControlName="remarks"></textarea>
            </div>
          </div>
        </div>
        <div>
          <div class="btn-appr-rej">
            <button class="bg-green"
              (click)="approve(projectdetails?.projectOwner!=projectdetails?.sponser?'Pending Sponsor Approval':'Approved','A1')"
              *ngIf="projectdetails?.projectOwner.toString()==this.loggedInUserDetails.empData.employeeNo
              && (projectdetails.projectStatus=='Discontinue'
              || projectdetails.projectStatus=='Cancel'
              || projectdetails.projectStatus=='Completed')">Approve</button>
            <button type="submit" class="bg-red" (click)="approve('In Progress','R1')" *ngIf="projectdetails?.projectOwner.toString()==this.loggedInUserDetails.empData.employeeNo
            && (projectdetails.projectStatus=='Discontinue'
              || projectdetails.projectStatus=='Cancel'
              || projectdetails.projectStatus=='Completed')">Reject</button>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>


  <mat-tab *ngIf="projectdetails?.projectOwner!=projectdetails?.sponser">
    <ng-template mat-tab-label>
      <div>
        <span>Approve 2</span>
      </div>
    </ng-template>
    <div>
      <div class="br-top-blue card service_card" [formGroup]="approverForm1">
        <div class="container-field-approve">
          <div class="border-rfc-heading">
            <div> <label>{{projectdetails?.sponserName}}(<span>{{projectdetails?.sponser}}</span>)</label>

            </div>
            <div class="mt-2">
              <label class="asteriskrequired">Remarks</label>
              <textarea class="textarea-implement" formControlName="remarks"></textarea>
            </div>
          </div>
        </div>
        <div>



          <div class="btn-appr-rej">
            <button class="bg-green" (click)="approve1('Approved','A2')" *ngIf="projectdetails?.sponser.toString()==this.loggedInUserDetails.empData.employeeNo
              && projectdetails.projectStatus=='Pending Sponsor Approval'">Approve</button>
            <button type="submit" class="bg-red" (click)="approve1('In Progress','R2')" *ngIf="projectdetails?.sponser.toString()==this.loggedInUserDetails.empData.employeeNo
            && projectdetails.projectStatus=='Pending Sponsor Approval'">Reject</button>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>