<div style="margin-top: -1%; margin-bottom: 1%;">
    <button class="addNewBtn-addNew" (click)="navigateTo()" *ngIf="!(this.projectdetails?.projectStatus == 'Cancel' || this.projectdetails?.projectStatus == 'Discontinue' || this.projectdetails?.projectStatus == 'Completed'
        || this.projectdetails?.projectStatus == 'Approved')">Add New</button>
    <button class="addNewBtn-addTemplate ms-4" (click)="navigateToTemp()" *ngIf="!(this.projectdetails?.projectStatus == 'Cancel' || this.projectdetails?.projectStatus == 'Discontinue' || this.projectdetails?.projectStatus == 'Completed'
        || this.projectdetails?.projectStatus == 'Approved')">Add Template</button>
</div>

<div *ngIf="taskForm.disabled" class="tableDesign">
    <div class="table-container">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>SL NO.</th>
                    <th>TITLE</th>
                    <th>DESCRIPTION</th>
                    <th>MILESTONE</th>
                    <th>TASK</th>
                    <th>SUB TASK</th>
                    <th>PROJECT STATUS</th>
                    <th>ACTION</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let task of checkList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ task.checkListTitle }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.milestoneTitle }}</td>
                    <td>{{ task.taskTitle }}</td>
                    <td>{{ task.subTaskTitle }}</td>

                    <td>
                        <span class="status-pill" [ngClass]="{
                'completed': task.projectLevel === 'Completed',
                'inprogress': task.projectLevel === 'In Progress',
                'canceled': task.projectLevel === 'Canceled',
                'sponsorapprovalpending': task.projectLevel === 'Sponsor Approval Pending',
                'approved': task.projectLevel === 'Approved',
                'discontinues' : task.projectlevel === 'Discontinues',
                'open' : task.projectLevel === 'Open'
              }">
                            {{ task.projectLevel }}
                        </span>
                    </td>

                    <td class="action-icons">
                        <i class="fa fa-eye cursor-pointer" (click)="navigateTo(task.checkListId)"></i>

                        <i class="fa fa-trash cursor-pointer" (click)="deleteChecklist(task.checkListId)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>