

<div class="container-implement">

  <button class="btn-back" [routerLink]="'/add-member'" type="button">Add new </button>&nbsp;
  <div class="container-field-line">
    <h2>     Members </h2>

    

      <div class="table-wrapper">
        <table class="fl-table">
          <thead class="table-head">
            <tr class="border-bottom">
              <th>Sl no</th>
              <th>Participants or Followers</th>
              <th>Type</th>
              <th>Employee ID</th>
              <th>Department</th>
              <th>Designation</th>
              <th>Plant</th>
              <!--<th>Attachments</th>-->
              <th>Update</th>
              <th>Delete</th>
            </tr>
            <br />

          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Participents</td>
              <td>Internal</td><td>00001</td>
              <td>Software</td>
              <td>Developer</td>
              <td>ML00</td>
              <td>
                <a href="">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
              </td>
              <td><a href=""><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
