<div class="container-home">
  <div class="text-center pageHeadingCss">
    <p class="pageHeadingparaCss">Change Request</p>
    
  </div>
  <div class="btn-approve">
    <button class="button-approve" [routerLink]="'/changerequest/cr-master'">New Change Request</button>
    <!--<button class="button-approve"  [disabled]="isapprover || issupportegineer" [routerLink]="'/new-change'">New Change Request</button>-->&nbsp;
    <button class="button-approve">Approve</button>&nbsp;
    <button class="button-approve">Execute</button>&nbsp;
    <button class="button-approve" [routerLink]="'/change_request_report'">Reports</button>
  </div>

  <div class="card change_request_card_filter" [formGroup]="filterForm">
    <div class="card-body card_body_filter">
      <div class="row filter_cr">
        <div class="col">
          <label>Plant</label><br />
          <ng-multiselect-dropdown class="plantstyle" [settings]="dropdownSettings" [data]="dropdownList"
            formControlName="plantId">
          </ng-multiselect-dropdown>
        </div>
        <div class="col">
          <label>Category</label><br />
          <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="dropdowncategroy" formControlName="Category">
          </ng-multiselect-dropdown>
        </div>
        <div class="col">
          <label>Classifications</label><br />
          <select formControlName="ClassificationId" class="input-change">
            <option selected hidden disabled value="">Select-classification</option>
            <option *ngFor="let classf of classifications" [value]="classf.itclassificationId">
              {{classf.classificationName}}</option>
          </select>
        </div>
        <div class="col">
          <label>Priority</label><br />
          <select formControlName="Priority" class="input-change">
            <option selected hidden disabled value="">Select-priority</option>
            <option *ngFor="let prio of prioritydata" [value]="prio.priorityId">{{prio.priorityName}}</option>
          </select>
        </div>
        <div class="col">
          <label>Start Date:</label><br/>
          <input formControlName="StartDate"  class=" input-change cr_date"  [max]="currentDate" type="date" id="fromDate" name="fromDate"
            required />
        </div>
        <div class="col">
          <label>End Date:</label><br />
          <input formControlName="EndDate" [min]="this.filterForm.value['StartDate']" [max]="currentDate" class="input-change cr_date" type="date" id="toDate" name="toDate"
            required />
        </div>
        <div class="col">
          <label>Status</label><br />
          <select class="input-change" formControlName="Status">
            <option selected hidden disabled value="">Select Status</option>
            <option value="">All</option>
            <option *ngIf="ischangeanalyst" value="Draft">Draft</option>
            <option value="Pending Approval">Pending Approval</option>
            <option value="Approved level1">Approved level1</option>
            <option value="Approved level2">Approved level2</option>
            <option value="Approved">Approved</option>
            <option value="Implement">Implement</option>
            <option value="Implemented">Implemented</option>
            <option value="Release">Release</option>
            <option value="Released">Released</option>
            <option value="Completed">Completed</option>
            <option value="Rejected">Rejected</option>
            <option value="Cancelled">Cancelled</option>
          </select>
        </div>
      </div>
      <div class="access-checkbox">
        <div>
          <input formControlName="rfcChangeNumber" placeholder="Search RFC #" class="search-crnum" type="text" />
        </div>
        <div>
          <button class="btn btn-rounded filter_button" (click)="onclickfilter()">Filter</button>&nbsp;&nbsp;&nbsp;
        </div>
        <div>
          <button type="reset" (click)="resetfn()" class="btn btn-rounded filter_button">Reset</button>&nbsp;&nbsp;&nbsp;
        </div>
        <!-- <div *ngIf="isassignappbutton">
                <button (click)="isassignbutton()" class="btn btn-rounded filter_button">Assigned To Me</button>&nbsp;&nbsp;
             </div>
             <div *ngIf="issupegineerasignbtn">
                <button (click)="assigenttobutton()" class="btn btn-rounded filter_button">Assigned To Me</button>&nbsp;&nbsp;&nbsp;
             </div>
             <div *ngIf="issuperadmin">
                <button (click)="supportbtnadmin()" class="btn btn-rounded filter_button">Assigned To Me</button>&nbsp;&nbsp;&nbsp;
              </div>
            </div> -->
      </div>
    </div>
  </div>
  <div class="changeAnalystTable">
    <h1><b><u>CHANGE ANALYST</u></b></h1>
    <div class="table-wrapper p-3">
      <table class="fl-table">
        <thead class="table-head">
          <tr class="border-bottom">
            <th>Select</th>
            <th>Update</th>
            <th>Delete</th>
            <th>RFC #</th>
            <th>Requestor</th>
            <th>Description</th>
            <th>Stage</th>
            <th>RFC Status</th>
            <th>Type</th>
            <th>Classifications</th>
            <th>RFC Date</th>
            <th>Expected Date of Completion</th>
            <th>Task Count</th>
            <!-- <th>Attachments</th> -->
          </tr>
        </thead>
        <tbody>
          <tr class="tr-body" *ngFor="let pltdata of viewChangeRequest">
            <td><input type="radio" name="one" id="one" /></td>
            <td>
                <i class="fa fa-pencil-square-o cursor-pointer" aria-hidden="true"
                [routerLink]="['/changerequest/cr-implement']" [queryParams]="{ id: pltdata.itcrid }"></i>
            </td>
            <td>
              <i *ngIf="pltdata.status!='Cancelled'  && pltdata.status=='Draft'" class="fa fa-trash"
                aria-hidden="true"></i>
            </td>
            <td>{{pltdata.crcode}}</td>
            <td>{{pltdata.crrequestorName}}</td>
            <td>{{pltdata.changeDesc}}</td>
            <td>{{pltdata.stage}}</td>
            <td [ngSwitch]="pltdata.status.trim()">
              <span> <span class="{{pltdata.status.replace(' ','-')}}">{{ pltdata.status}}</span></span>
            </td>
            <td>{{pltdata.categoryName}}</td>
            <td>{{pltdata.classificationName}}</td>
            <td>{{pltdata.crdate | date:'dd-MM-yyyy' }}</td>
            <td>{{pltdata.estimatedDateCompletion | date:'dd-MM-yyyy' }}</td>
            <td>{{pltdata.taskcount}}</td>
            <!-- <td><i class="fa fa-download" aria-hidden="true"></i></td> -->
          </tr>
        </tbody>
        <ng-template #noData>
          <tr>
            <td colspan="13">There are no RFCs</td>
          </tr>
        </ng-template>
        
      </table>


    </div>
    <div *ngIf="viewChangeRequest.length > 0">
      <mat-paginator [length]="viewChangeRequestCount"
                     [pageSize]="pageSize"
                     [pageIndex]="pageIndex"
                     [pageSizeOptions]="[10,25,50,100]"
                     (page)="onPageChange($event)"
                     aria-label="Select page">
      </mat-paginator>
    </div>
  </div>

  
  <!-- <br *ngIf="issuperadmin" /> -->
  <!-- <br *ngIf="issuperadmin" /> -->
  <h1 style="margin-left:3%;margin-bottom:1%;margin-top: 5%;" *ngIf="issupportegineer"><b><u style="font-size: 21px;">SUPPORT ENGINEER-TASK ASSIGNED</u></b></h1>
  <div class="table-wrapper p-3">
    <table class="fl-table" style="width:100%;margin-left:-1%;">
     <thead *ngIf="issupportegineer" class="table-head">
        <tr class="border-bottom ">
          <th>Select</th>
          <th>Update</th>
          <th>RFC #</th>
          <th>Task ID</th>
          <th>Requestor</th>
          <th>Description</th>
          <th>Stage</th>
          <th>RFC Status</th>
          <th>Task Status</th>
          <th>Type</th>
          <th>Classifications</th>
          <th>RFC Date</th>
          <th>Expected Date of Completion</th>
          <th>Task Count</th>
        </tr>
      </thead>
      <tbody *ngIf="issupportegineer && filterexecutdata.length > 0; else novalue">
        <tr class="tr-body" *ngFor="let pltdata of filterexecutdata">
          <td><input type="radio" /></td>
          <td>
            <a href="" *ngIf="pltdata.status!='Cancelled'" routerLink="/executive/{{pltdata.itcrid}}/edit">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
          </td>
          <td>{{pltdata.crcode}}</td>
          <td>{{pltdata.itcrexecId}}</td>
          <td>{{pltdata.crrequestorName}}</td>
          <td>{{pltdata.changeDesc}}</td>
          <td>{{pltdata.stage}}</td>
          <td [ngSwitch]="pltdata.status.trim()">
            <span *ngSwitchCase="'Draft'"> <span style="color: #3c8dbc;">{{ pltdata.status }}</span></span>
            <span *ngSwitchCase="'Pending Approval'"> <span style="color: #808080ff; ">{{ pltdata.status }}</span></span>
            <span *ngSwitchCase="'Submitted'"> <span style="color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;">{{ pltdata.status }}</span></span>
            <span *ngSwitchCase="'Approved'"> <span style="color: green;">{{ pltdata.status }}</span></span>
            <span *ngSwitchCase="'Approved level1'"> <span style="color: green;">{{ pltdata.status }}</span></span>
            <span *ngSwitchCase="'Approved level2'"> <span style="color: green;">{{ pltdata.status }}</span></span>
            <span *ngSwitchCase="'Completed'"> <span style="color: green;">{{ pltdata.status }}</span></span>
            <span *ngSwitchCase="'Rejected'"> <span style="color: red;">{{ pltdata.status }}</span></span>
            <span *ngSwitchCase="'Seek Clarification'"> <span style="color:cornflowerblue;">{{ pltdata.status }}</span></span>
            <span *ngSwitchCase="'Implement'"> <span class=" text-info">{{ pltdata.status }}</span></span>
            <span *ngSwitchCase="'Implemented'"> <span class=" text-info">{{ pltdata.status }}</span></span>
            <span *ngSwitchCase="'Pending'"> <span style="color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;">{{ pltdata.status }}</span></span>
            <span *ngSwitchCase="'Released'"> <span style="color: rgb(154, 235, 73);">{{ pltdata.status }}</span></span>
            <span *ngSwitchCase="'Cancelled'"> <span style="color: rgb(255, 0,0);">{{ pltdata.status }}</span></span>
          </td>
          <td>{{pltdata.taskstatus}}</td>
          <td>{{pltdata.categoryName}}</td>
          <td>{{pltdata.classificationName}}</td>
          <td>{{pltdata.crdate | date:'dd-MM-yyyy' }}</td>
          <td>{{pltdata.estimatedDateCompletion | date:'dd-MM-yyyy' }}</td>
          <td>{{pltdata.taskcount}}</td>

        </tr>

      </tbody>
      <ng-template #novalue>
        <tr *ngIf="issupportegineer ">
          <td colspan="13">There are no RFCs</td>
        </tr>
      </ng-template>
      </table>
      </div>
      <h1 style="margin-left:3%;margin-bottom:1%;" *ngIf="isapprover"><b><u style="font-size: 21px;">APPROVAL - PENDING</u></b></h1>
      <div class="table-wrapper p-3">
        <table class="fl-table" style="width:100%;margin-left:-1%;">
          <thead *ngIf="isapprover" class="table-head">
            <tr class="border-bottom">
              <th>Select</th>
              <th>Update</th>
              <th>RFC #</th>
              <th>Requestor</th>
              <th>Description</th>
              <th>Stage</th>
              <th>RFC Status</th>
              <th>Last Approved Name</th>
              <th>Last Approved Date</th>
              <th>Type</th>
              <th>Classifications</th>
              <th>RFC Date</th>
              <th>Expected Date of Completion</th>
              <th>Task Count</th>
              <!--<th>Attachments</th>-->

            </tr>
          </thead>
          <tbody *ngIf="isapprover && filtersapprvdata.length > 0; else noappvalue">
            <tr class="tr-body" *ngFor="let pltdata of filtersapprvdata">
              <td><input type="radio" name="one" id="one" /></td>
              <td>
                <a href="" *ngIf="pltdata.status!='Cancelled'"
                  routerLink="/executive/{{pltdata.itcrid}}/edit">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
              </td>
              <td>{{pltdata.crcode}}</td>
              <td>{{pltdata.crrequestorName}}</td>
              <td>{{pltdata.changeDesc}}</td>
              <td>{{pltdata.stage}}</td>
              <td [ngSwitch]="pltdata.status.trim()">
                <span *ngSwitchCase="'Draft'"> <span style="color: #3c8dbc;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Pending Approval'"> <span style="color: #808080ff; ">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Submitted'"> <span
                    style="color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;">{{ pltdata.status
                    }}</span></span>
                <span *ngSwitchCase="'Approved'"> <span style="color: green;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Approved level1'"> <span style="color: green;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Approved level2'"> <span style="color: green;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Completed'"> <span style="color: green;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Rejected'"> <span style="color: red;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Seek Clarification'"> <span style="color:cornflowerblue;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Implement'"> <span class=" text-info">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Implemented'"> <span class=" text-info">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Pending'"> <span
                    style="color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;">{{ pltdata.status
                    }}</span></span>
                <span *ngSwitchCase="'Released'"> <span style="color: rgb(154, 235, 73);">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Cancelled'"> <span style="color: rgb(255, 0,0);">{{ pltdata.status }}</span></span>
              </td>
              <td>{{pltdata.lastApproverName}}</td>
              <td>{{pltdata.lastApprovedDate | date:'dd-MM-yyyy'}}</td>
              <td>{{pltdata.categoryName}}</td>
              <td>{{pltdata.classificationName}}</td>
              <td>{{pltdata.crdate | date:'dd-MM-yyyy' }}</td>
              <td>{{pltdata.estimatedDateCompletion | date:'dd-MM-yyyy' }}</td>
              <td>{{pltdata.taskcount}}</td>
          </tbody>

          <ng-template #noappvalue>
            <tr *ngIf="isapprover">
              <td colspan="13">There are no RFCs</td>
            </tr>
          </ng-template>
        </table>
      </div>
      <div *ngIf="isapprover && filtersapprvdata.length > 0">
        <mat-paginator [length]="totalItemsforapprover"
                       [pageSize]="pageSizeforapprover"
                       [pageIndex]="pageIndexforapprover"
                       [pageSizeOptions]="[10,25,50,100]"
                       (page)="onPageChangeforapprover($event)"
                       aria-label="Select page" style="margin-right:34%">
        </mat-paginator>
        <br />
      </div>
</div>
