<div class="updateChecklistMainDiv">

  <div class="sidebar">
    <app-support-sidebar></app-support-sidebar>
  </div>

  <div class="main-card">
    <h3 class="title">Update CheckList</h3>

    <div class="form-card">

      <!-- ROW 1 -->
      <div class="row">
        <div class="form-group">
          <label>Check List ID</label>
          <input type="text" readonly [(ngModel)]="updatevalue[0].itchecklistId" />
        </div>

        <div class="form-group">
          <label>Module Name</label>
          <select [(ngModel)]="updatevalue[0].supportId">
            <option value="1">Change Request</option>
            <option value="2">Help Disk</option>
            <option value="3">Project Management</option>
          </select>
        </div>

        <div class="form-group">
          <label>Project Name</label>
          <select [(ngModel)]="updatevalue[0].plantId">
            <option value="">Select Plant code</option>
            <option *ngFor="let cldata of plantcode" [value]="cldata.id">
              {{cldata.code}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Classification Name</label>
          <select [(ngModel)]="updatevalue[0].classificationId">
            <option value="">Select classification Name</option>
            <option *ngFor="let cldata of caclasification" [value]="cldata.itclassificationId">
              {{cldata.classificationName}}
            </option>
          </select>
        </div>
      </div>

      <!-- ROW 2 -->
      <div class="row">
        <div class="form-group">
          <label>Category Name</label>
          <select [(ngModel)]="updatevalue[0].categoryId">
            <option value="">Select categoryName</option>
            <option *ngFor="let cldata of categoryName" [value]="cldata.itcategoryId">
              {{cldata.categoryName}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>CheckList Title</label>
          <input type="text" [(ngModel)]="updatevalue[0].checklistTitle" />
        </div>

        <div class="form-group">
          <label>CheckList Desc</label>
          <input type="text" [(ngModel)]="updatevalue[0].checklistDesc" />
        </div>

        <div class="form-group">
          <label>Mandatory Flag</label>
          <select [(ngModel)]="updatevalue[0].mandatoryFlag">
            <option [ngValue]="true">True</option>
            <option [ngValue]="false">False</option>
          </select>
        </div>
      </div>

    </div>

    <div class="button-row">
      <button (click)="postCheckList()" class="btn-submit">SUBMIT</button>
      <button [routerLink]="'/viewcheklist'" class="btn-back">BACK</button>
    </div>

  </div>

</div>