<div class="newissueMainDiv">

  <div class="NewissueSideBar">
    <app-sidebarissue></app-sidebarissue>
  </div>
  <div class="container">

    <div class="pageHeadingCss1">
      <img src="assets/image/issue_management.png" class="imgCss">
      <p class="pageHeadingparaCss1">
        ISSUE MANAGEMENT
      </p>
    </div>
    <br>

    <div class="card" style="width: 105%; border-radius: 40px; margin-left: 2%;">
      <div class="newissue">
        <div class="text-center col-2">
          <button class="btn-back1" [routerLink]="'/report_issue'" type="button">Back > </button>
        </div>
        <div class="col-10 pageHeadingCss issuelabel">
          <img src="assets/image/new-issue.png" alt="issueimg" class="issueImg">
          <p class="pageHeadingparaCss"
            style="margin:0 auto; font-size: xx-large; font-weight: 900; margin-right: 0%; color: #0097ab;">New Issue
          </p>
        </div>
      </div>
      <br>
      <div class="card-body" style="width: 100%;">

        <div class="row newissueradio">

          <div class="col-md-2 radioBtns">
            <label class="custom-radio">
              <input type="radio" value="self" [(ngModel)]="selectedOption" (change)="OnLabelChange()">
              <span class="radio-box"></span>
              <span class="radiolabel">Self</span>
            </label>
          </div>

          <div class="col-md-6 radioBtns">
            <label class="custom-radio">
              <input type="radio" value="others" [(ngModel)]="selectedOption" (change)="OnLabelChange()">
              <span class="radio-box"></span>
              <span class="radiolabel">Others</span>
            </label>

            <div class="others-input-wrapper">
              <input type="text" class="issue-input" #EnterIssueID placeholder="Enter issue for"
                [disabled]="DisableissueRaiseFor" [(ngModel)]="issueRaiseFor" (input)="filterItems()"
                (ngModelChange)="ClearOtherInputs()" />

              <ul class="dropdowns-list" *ngIf="dropdownItems.length > 0">
                <li class="drop-list" *ngFor="let item of dropdownItems" (click)="selectItem(item)">
                  {{ item.employeeId ? (item.employeeId + ' - ' + item.employeeName) : item.employeeName }}
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-2 radioBtns">
            <label class="custom-radio">
              <input type="radio" value="guest" [(ngModel)]="selectedOption" (change)="OnLabelChange()">
              <span class="radio-box"></span>
              <span class="radiolabel">Guest</span>
            </label>
          </div>

        </div>


        <div class="card inside_card" style="margin-left: 2.5%;">
          <div class="card-body inside_newissue">

            <ng-container *ngIf="ShowSelf">
              <div class="row" style="text-align:left;">
                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Employee ID: <span
                      class="horinputDatas">{{EmployeeID}}</span></label>
                </div>

                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Name: <span
                      class="horinputDatas">{{Name}}</span></label>
                </div>
                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Email: <span
                      class="horinputDatas">{{Email}}</span></label>
                </div>
                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Contact No: <span
                      class="horinputDatas">{{ContactNo}}</span></label>
                </div>
              </div>

              <div class="row" style="text-align:left;">
                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Reporting Manager: <span
                      class="horinputDatas">{{ReportingManager}}</span></label>
                </div>

                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Staff Category: <span
                      class="horinputDatas">{{StaffCategory}}</span></label>
                </div>

                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Project: <span
                      class="horinputDatas">{{Plant}}</span></label>
                </div>

                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Paygroup: <span
                      class="horinputDatas">{{Paygroup}}</span></label>
                </div>
              </div>

              <div class="row" style="text-align:left;">
                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Department: <span
                      class="horinputDatas">{{Department}}</span></label>
                </div>

                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Designation: <span
                      class="horinputDatas">{{Designation}}</span></label>
                </div>

                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Role: <span
                      class="horinputDatas">{{Role}}</span></label>
                </div>

                <div class="col-md-3">
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="ShowOthers">
              <span
                style="background: #2f6f7a; color: white; font-weight: 600; padding: 6px 12px; display: inline-block; border-radius: 4px; font-size: 14px; text-transform: uppercase;">Requested
                by:</span>
              <div class="row mt-2" style="text-align:left;">
                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Employee ID: <span
                      class="horinputDatas">{{EmployeeID}}</span></label>
                </div>

                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Name: <span
                      class="horinputDatas">{{Name}}</span></label>
                </div>
                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Email: <span
                      class="horinputDatas">{{Email}}</span></label>
                </div>
                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Contact No: <span
                      class="horinputDatas">{{ContactNo}}</span></label>
                </div>
              </div>

              <div class="row" style="text-align:left;">
                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Reporting Manager: <span
                      class="horinputDatas">{{ReportingManager}}</span></label>
                </div>

                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Staff Category: <span
                      class="horinputDatas">{{StaffCategory}}</span></label>
                </div>

                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Project: <span
                      class="horinputDatas">{{Plant}}</span></label>
                </div>

                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Paygroup: <span
                      class="horinputDatas">{{Paygroup}}</span></label>
                </div>
              </div>

              <div class="row" style="text-align:left;">
                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Department: <span
                      class="horinputDatas">{{Department}}</span></label>
                </div>

                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Designation: <span
                      class="horinputDatas">{{Designation}}</span></label>
                </div>

                <div class="col-md-3">
                  <label style="color: #0097ab; font-size: larger;">Role: <span
                      class="horinputDatas">{{Role}}</span></label>
                </div>

                <div class="col-md-3">
                </div>
              </div>
              <hr />
              <div>
                <span
                  style="background: #2f6f7a; color: white; font-weight: 600; padding: 6px 12px; display: inline-block; border-radius: 4px; font-size: 14px; text-transform: uppercase;">Requested
                  for:</span>
                <div class="row mt-2">
                  <div class="col-md-3">
                    <label style="color: #0097ab; font-size: larger;">Employee ID: <span
                        class="horinputDatas">{{EmployeeIDOthers}}</span></label>
                  </div>

                  <div class="col-md-3">
                    <label style="color: #0097ab; font-size: larger;">Name: <span
                        class="horinputDatas">{{OthersName}}</span></label>
                  </div>

                  <div class="col-md-3">
                    <label style="color: #0097ab; font-size: larger;">Email: <span
                        class="horinputDatas">{{EmailOthers}}</span></label>
                  </div>

                  <div class="col-md-3">
                    <label style="color: #0097ab; font-size: larger;">Contact No: <span
                        class="horinputDatas">{{ContactNoOthers}}</span></label>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-3">
                    <label style="color: #0097ab; font-size: larger;">Reporting Manager: <span
                        class="horinputDatas">{{ReportingManagerOthers}}</span></label>
                  </div>

                  <div class="col-md-3">
                    <label style="color: #0097ab; font-size: larger;">Staff Category: <span
                        class="horinputDatas">{{StaffCategoryOthers}}</span></label>
                  </div>

                  <div class="col-md-3">
                    <label style="color: #0097ab; font-size: larger;">Project: <span
                        class="horinputDatas">{{PlantOthers}}</span></label>
                  </div>

                  <div class="col-md-3">
                    <label style="color: #0097ab; font-size: larger;">Paygroup: <span
                        class="horinputDatas">{{PaygroupOthers}}</span></label>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-3">
                    <label style="color: #0097ab; font-size: larger;">Department: <span
                        class="horinputDatas">{{DepartmentOthers}}</span></label>
                  </div>

                  <div class="col-md-3">
                    <label style="color: #0097ab; font-size: larger;">Designation: <span
                        class="horinputDatas">{{DesignationOthers}}</span></label>
                  </div>

                  <div class="col-md-3">
                    <label style="color: #0097ab; font-size: larger;">Role: <span
                        class="horinputDatas">{{RoleOthers}}</span></label>
                  </div>

                  <div class="col-md-3">
                  </div>
                </div>
              </div>

            </ng-container>

      

            <div *ngIf="ShowGuest" class="guest-section">

              <div class="section-title">Requested by</div>

              <div class="info-block">

                <div class="row info-row">
                  <div class="col-md-3"><label>Employee ID:</label><span>{{EmployeeID}}</span></div>
                  <div class="col-md-3"><label>Name:</label><span>{{Name}}</span></div>
                  <div class="col-md-3"><label>Email:</label><span>{{Email}}</span></div>
                  <div class="col-md-3"><label>Contact No:</label><span>{{ContactNo}}</span></div>
                </div>

                <div class="row info-row">
                  <div class="col-md-3"><label>Reporting Manager:</label><span>{{ReportingManager}}</span></div>
                  <div class="col-md-3"><label>Staff Category:</label><span>{{StaffCategory}}</span></div>
                  <div class="col-md-3"><label>Project:</label><span>{{Plant}}</span></div>
                  <div class="col-md-3"><label>Paygroup:</label><span>{{Paygroup}}</span></div>
                </div>

                <div class="row info-row">
                  <div class="col-md-3"><label>Department:</label><span>{{Department}}</span></div>
                  <div class="col-md-3"><label>Designation:</label><span>{{Designation}}</span></div>
                  <div class="col-md-3"><label>Role:</label><span>{{Role}}</span></div>
                </div>

              </div>

              <div class="section-title mt-4"
                style="background: #2f6f7a; color: white; font-weight: 600; padding: 6px 12px; display: inline-block; border-radius: 4px; font-size: 14px; text-transform: uppercase;">
                Requested for</div>

              <div class="form-block">

                <div class="row form-row">
                  <div class="col-md-3">
                    <label>Guest Employee ID</label>
                    <input type="text" [(ngModel)]="GuestEmployeeID" class="form-control">
                  </div>

                  <div class="col-md-3">
                    <label>Name <span class="required" style="color: red;">*</span></label>
                    <input type="text" [(ngModel)]="GuestName" class="form-control">
                  </div>

                  <div class="col-md-3">
                    <label>Email</label>
                    <input type="text" [(ngModel)]="Guestemail" class="form-control">
                  </div>

                  <div class="col-md-3">
                    <form [formGroup]="contactForm">
                      <label>Contact No</label>
                      <input id="contactNo" formControlName="contactNo" type="number" (input)="onInput($event)"
                        maxlength="10" placeholder="Enter 10-digit contact number" class="form-control">
                    </form>
                  </div>
                </div>

                <div class="row form-row align-items-end">

                  <div class="col-md-3 position-relative">
                    <label>Reporting Manager Employee ID</label>
                    <input type="text" [(ngModel)]="ReportingManagerEmpID" (input)="filterItemsforGuest()"
                      (ngModelChange)="ClearGuestOtherInputs()" class="form-control">

                    <ul class="dropdowns-list" *ngIf="dropdownItems2.length > 0">
                      <li *ngFor="let item of dropdownItems2" (click)="selectItem(item)">
                        {{ item.employeeId ? (item.employeeId + ' - ' + item.employeeName) : item.employeeName }}
                      </li>
                    </ul>
                  </div>

                  <div class="col-md-3"><label>Reporting Manager in TV:</label><span>{{ReportingManagerinML}}</span>
                  </div>
                  <div class="col-md-3"><label>Staff Category of TV:</label><span>{{StaffCategoryofML}}</span></div>
                  <div class="col-md-3"><label>Project TV:</label><span>{{GuestPlant}}</span></div>

                </div>

                <div class="row info-row">
                  <div class="col-md-3"><label>Paygroup TV:</label><span>{{PaygroupML}}</span></div>
                  <div class="col-md-3"><label>Department TV:</label><span>{{DepartmentML}}</span></div>
                  <div class="col-md-3"><label>Designation of TV Manager:</label><span>{{DesignationofMLManager}}</span>
                  </div>
                  <div class="col-md-3"><label>Role of TV Manager:</label><span>{{RoleofMLManager}}</span></div>
                </div>

              </div>

            </div>


          </div>
        </div>

        <div class="container">
          <div class="container-field-line">
            <div class="text-center subHeadingparaCss" style="margin-top:-1%;  display: flex; margin-left: 20%;">
              <img src="assets/image/Details.png" alt="detailsImg" class="detailImg">
              <p style="font-size: xx-large; color: #0097ab;">Details</p>
            </div>

            <div class="card report_issue_card container-implement issue-form-card">
              <div class="card-body issue-form-body">

                <div class="row form-row">
                  <div class="col form-group">
                    <label style="color: #15455c; font-size: larger;">Raised Date <span class="required"
                        style="color: red;">*</span></label>
                    <input class="form-control-custom" readonly [(ngModel)]="today" type="date" />
                  </div>

                  <div class="col form-group">
                    <label style="color: #15455c; font-size: larger;">Project <span class="required"
                        style="color: red;">*</span></label>
                    <select class="form-control-custom" [(ngModel)]="plantId" (change)="getassets()" required>
                      <option value="" disabled selected hidden>Select Project</option>
                      <option *ngFor="let pltdata of plantcode" [value]="pltdata.plantId">
                        {{ pltdata.plantCode }}
                      </option>
                    </select>
                  </div>

                  <div class="col form-group">
                    <label style="color: #15455c; font-size: larger;">Service-Category <span class="required"
                        style="color: red;">*</span></label>
                    <select class="form-control-custom" (change)="getcategorytype()" [(ngModel)]="categoryId">
                      <option value="" disabled hidden>Select Service Category</option>
                      <option *ngFor="let value of categorydata" [value]="value.itcategoryId">
                        {{value.categoryName}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="row form-row">
                  <div class="col form-group">
                    <label style="color: #15455c; font-size: larger;">Sub-Category <span class="required"
                        style="color: red;">*</span></label>
                    <select class="form-control-custom" [(ngModel)]="categoryTypId" (change)="getAssignTo()">
                      <option value="" disabled hidden>Select Sub-Category</option>
                      <option *ngFor="let valueCtype of categorytype" [value]="valueCtype.categoryTypeId">
                        {{valueCtype.categoryType}}
                      </option>
                    </select>
                  </div>

                  <div class="col form-group">
                    <label style="color: #15455c; font-size: larger;">Priority <span class="required"
                        style="color: red;">*</span></label>
                    <select class="form-control-custom" [(ngModel)]="priority">
                      <option value="" disabled hidden>Select Priority</option>
                      <option *ngFor="let valueprio of prioritytype" [value]="valueprio.priorityId">
                        {{valueprio.priorityName}}
                      </option>
                    </select>
                  </div>

                  <div class="col form-group">
                    <label style="color: #15455c; font-size: larger;">Type</label>
                    <select class="form-control-custom" [(ngModel)]="type">
                      <option value="" disabled hidden>Select Type</option>
                      <option value="Type">Type</option>
                    </select>
                  </div>
                </div>

                <div class="row form-row">
                  <div class="col form-group">
                    <label style="color: #15455c; font-size: larger;">Source</label>
                    <select class="form-control-custom" [(ngModel)]="source">
                      <option value="" disabled hidden>Select Source</option>
                      <option value="E-mail">E-mail</option>
                      <option value="Phone">Phone</option>
                      <option value="Website">Website</option>
                    </select>
                  </div>

                  <div class="col form-group">
                    <label style="color: #15455c; font-size: larger;">Impacted Asset</label>
                    <select class="form-control-custom" [(ngModel)]="asset">
                      <option value="" disabled hidden>Select Impacted Asset</option>
                      <option *ngFor="let valueasset of impactassetlist" [value]="valueasset.assetId">
                        {{valueasset.category + ' - ' + valueasset.assetNo}}
                      </option>
                    </select>
                  </div>

                  <div class="col form-group">
                    <label style="color: #15455c; font-size: larger;">Assign To</label>
                    <select class="form-control-custom" [(ngModel)]="assignedTo">
                      <option value="" disabled hidden>Select Assign to</option>
                      <option *ngFor="let assgn of assignToList" [value]="assgn.empId">
                        {{assgn.empId + ' - ' + assgn.firstName + ' ' + assgn.middleName + ' ' + assgn.lastName}}
                      </option>
                    </select>
                  </div>


                </div>
                <br>
                <div class="row form-row">
                  <div class="col form-group">
                    <label style="color: #15455c; font-size: larger;">Subject <span class="required"
                        style="color: red;">*</span></label>
                    <input class="form-control-custom" [(ngModel)]="Subject" style="width: 80%; margin-left: 5%;" />
                  </div>
                </div>
                <br>
                <div class="row form-row">
                  <div class="col form-group">
                    <label style="color: #15455c; font-size: larger;">Description <span class="required"
                        style="color: red;">*</span></label>
                    <div class="editor-wrapper">
                      <angular-editor #editor [(ngModel)]="issueDesc" [config]="editorConfig"></angular-editor>
                    </div>
                  </div>
                </div>
                <br>

                <div class="row form-row">
                  <div class="col form-group">

                    <label class="attachment-title">Attachment</label>

                    <div class="attachment-box">

                      <div class="file-upload-container">

                        <input type="file" id="fileUpload" class="file-input" [(ngModel)]="attachment"
                          (change)="getattach($event)" />

                        <label for="fileUpload" class="file-design">
                          <span class="choose-file-btn">Choose File</span>
                          <span class="file-text">
                            {{ attachment?.name ? attachment?.name : 'No file chosen' }}
                          </span>
                        </label>

                      </div>

                      <button class="add-file-btn" type="button" (click)="addFile()">
                        ADD FILE
                      </button>

                    </div>

                    <div class="file-note">
                      Only Jpg, Png and Pdf is allowed.
                    </div>

                    <div class="attachment-list" *ngFor="let attachment of attachmentsList; index as i">
                      {{attachment.fileName}}
                      <i class="fa fa-eye action-icon" (click)="viewFile(attachment)"></i>
                      <i class="fa fa-download action-icon" (click)="downFile(attachment)"></i>
                      <i class="fa fa-times action-icon" (click)="deleteDoc(attachment)"></i>
                    </div>

                  </div>
                </div>


                <div class="row form-row">
                  <div class="col form-group">
                    <label style="color: #15455c; font-size: larger;">Proposed Resolution Date <span class="required"
                        style="color: red;">*</span></label>
                    <input class="form-control-custom" style="width: 30%; display: flex;" type="datetime-local"
                      [(ngModel)]="ProposedResolution" readonly />
                  </div>
                </div>

                <div class="button-group">
                  <span class="btn-primary-customSubmit" (click)="onsubmit('Submit')">Submit</span>
                  <span class="btn-primary-customDraft" (click)="onsubmit('Draft')">Draft</span>
                  <span class="issueBackBtn" [routerLink]="'/report_issue'">Back</span>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="notification" *ngIf="errorMessage">
    <button class="close-btn" (click)="clearErrorMessage()"><span style="color:black;">X</span></button>
    <p class="message-txt">{{ errorMessage }}</p>
  </div>
  <div class="success" *ngIf="successMessage">
    <button class="close-btn" (click)="clearSuccessMessage()"><span style="color:black;">X</span></button>
    <p class="message-txt">{{ successMessage }}</p>
  </div>
</div>