<div class="changeRequestMainDiv">

  <div style="margin-left: 3%;">
    <app-dashboard-side-bar></app-dashboard-side-bar>
  </div>

  <div class="container-home" style="width: 90%;">
    <div class="notification-confirm" *ngIf="deleteconfirmation">
      <p style="font-size:17px;">Are you sure you want to delete this</p>
      <div style="text-align:center;">
        <button class="confirombtn" (click)="deleteyes()">Yes</button>
        <button class="confirombtn" (click)="deleteno()">No</button>
      </div>
    </div>
    <div class="notification-sucess" *ngIf="deleteinprogress">
      <p>{{deleteinmessage}}</p>
      <span class="close-btn" (click)="navigateinprogress()">Ok</span>
    </div>
    <div class="notification-sucess" *ngIf="deletesuccess">
      <p>{{deletemessage}}</p>
      <span class="close-btn" (click)="navigatesuccess()">Ok</span>
    </div>
    <div class="text-center change-header">
      <img src="assets/image/changeRequest.png" alt="Change Request Icon" class="header-icon">
      <h1>Change Request</h1>
    </div>


    <div class="btn-approve">
      <button class="button-approve" [disabled]="!ischangeanalyst" [routerLink]="'/new-change'"
        [ngStyle]="{'opacity': (!ischangeanalyst) ? '0.6' : '1'}">New Change Request</button>
      <button class="button-approve" [disabled]="!isapprover" (click)="gotoapprove('profile')"
        [ngStyle]="{'opacity': (!isapprover) ? '0.6' : '1'}">Approve</button>&nbsp;
      <button class="button-approve" [disabled]="!issupportegineer" (click)="goToTab('contact')"
        [ngStyle]="{'opacity': (!issupportegineer) ? '0.6' : '1'}">Execute</button>&nbsp;
      <!-- <button class="button-approve" [routerLink]="'/change_request_report'">Reports</button> -->
      <button class="button-approve" [routerLink]="'/change_request_report'" routerLinkActive="active-btn">
        Reports
      </button>
    </div>


    <br />
    <br />
    <div class="notification-confirm" *ngIf="deleteconfirmation">
      <p style="font-size:17px;">Are you sure you want to delete this</p>
      <div style="text-align:center;">
        <button class="confirombtn" (click)="deleteyes()">Yes</button>
        <button class="confirombtn" (click)="deleteno()">No</button>
      </div>
    </div>
    <div class="notification-sucess" *ngIf="deleteinprogress">
      <p>{{deleteinmessage}}</p>
      <span class="close-btn" (click)="navigateinprogress()">Ok</span>
    </div>

    <div class="card change_request_card_filter" [formGroup]="filterForm">
      <div class="card-body card_body_filter">
        <div class="row filter_cr">
          <div class="col">
            <label>Project</label><br />
            <ng-multiselect-dropdown class="plantstyle" [settings]="dropdownSettings" [data]="dropdownList"
              formControlName="plantId">
            </ng-multiselect-dropdown>

          </div>
          <div class="col">
            <label>Category</label><br />
            <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="dropdowncategroy" formControlName="Category">
            </ng-multiselect-dropdown>

          </div>
          <div class="col">
            <label>Classifications</label><br />
            <select formControlName="ClassificationId" class="input-change">
              <option selected hidden disabled value="">Select-classification</option>
              <option *ngFor="let classf of classifications" [value]="classf.itclassificationId">
                {{classf.classificationName}}</option>
            </select>
          </div>
          <div class="col">
            <label style="margin-left : 18%;">Priority</label><br />
            <select formControlName="Priority" class="input-change">
              <option selected hidden disabled value="">Select-priority</option>
              <option *ngFor="let prio of prioritydata" [value]="prio.priorityId">{{prio.priorityName}}</option>
            </select>
          </div>
          <div class="col">
            <label>Start Date:</label><br />
            <input formControlName="StartDate" class=" input-change cr_date" type="date" id="fromDate"
              [max]="currentDate" name="fromDate" required />
          </div>
          <div class="col">
            <label>End Date:</label><br />
            <input formControlName="EndDate" class="input-change cr_date" [min]="this.filterForm.value['StartDate']"
              [max]="currentDate" type="date" id="toDate" name="toDate" required />
          </div>

          <div class="col">
            <label>Stage</label><br />
            <select formControlName="stage" class="input-change">
              <option selected hidden disabled value="">Select-Stage</option>
              <option>Initiated</option>
              <option>Approval</option>
              <option>Implementation</option>
              <option>Release</option>
              <option>Closure</option>
            </select>
          </div>
          <div class="col">
            <label>Status</label><br />
            <select class="input-change" formControlName="Status">
              <option selected hidden disabled value="">Select Status</option>
              <option value="">All</option>
              <option *ngIf="ischangeanalyst" value="Draft">Draft</option>
              <option value="Pending Approval">Pending Approval</option>
              <option value="Approved level1">Approved level1</option>
              <option value="Approved level2">Approved level2</option>
              <option value="Approved">Approved</option>
              <option value="Implement">Implement</option>
              <option value="Implemented">Implemented</option>
              <option value="Release">Release</option>
              <option value="Released">Released</option>
              <option value="Completed">Completed</option>
              <option value="Rejected">Rejected</option>
              <option value="Cancelled">Cancelled</option>
            </select>
          </div>
        </div>
        <div class="access-checkbox">

          <div>
            <button class="btn btn-rounded filter_button" (click)="onclickfilter()">Filter</button>&nbsp;&nbsp;&nbsp;
          </div>
          <div>
            <button (click)="resetfn()" type="reset" class="btn btn-rounded filter_button"
              style="background: #168a93; border-color: white;">Reset</button>&nbsp;&nbsp;&nbsp;
          </div>
          <div *ngIf="isassignappbutton">
            <button (click)="isassignbutton()" class="btn btn-rounded filter_button">Assigned To Me</button>&nbsp;&nbsp;
          </div>
          <div *ngIf="issupegineerasignbtn">
            <button (click)="assigenttobutton()" class="btn btn-rounded filter_button">Assigned To
              Me</button>&nbsp;&nbsp;&nbsp;
          </div>
          <div *ngIf="issuperadmin">
            <button (click)="supportbtnadmin()" class="btn btn-rounded filter_button">Assigned To
              Me</button>&nbsp;&nbsp;&nbsp;
          </div>
        </div>
      </div>
    </div>


    <div class="section-card" *ngIf="ischangeanalyst">
      <h3 class="section-title">CHANGE ANALYST</h3>
      <!-- <div class="custom-table">
        <table class="fl-table" style="width:100%;margin-left:0%">
          <thead *ngIf="ischangeanalyst" class="table-head">
            <tr class="border-bottom">
              <th style="width:5%">Select</th>
              <th style="width:5%">Update</th>
              <th style="width:5%">Delete</th>
              <th style="width:10%">RFC #</th>
              <th style="width:10%">Requestor</th>
              <th style="width:20%">Description</th>
              <th style="width:10%">Stage</th>
              <th style="width:10%">RFC Status</th>
              <th style="width:5%">Type</th>
              <th style="width:5%">Classifications</th>
              <th style="width:5%">RFC Date</th>
              <th style="width:5%">Expected Date of Completion</th>
              <th style="width:5%">Task Count</th>
            </tr>
          </thead>
          <tbody *ngIf="viewchangerequest.length > 0; else noData">
            <tr class="tr-body" *ngFor="let pltdata of viewchangerequest">
              <td><input type="radio" (click)="onRadioSelect(pltdata)" name="one" id="one" /></td>
              <td>
                <a href="" *ngIf="pltdata.status!='Cancelled'" (click)="onRadio(pltdata)"
                  routerLink="/executive/{{pltdata.itcrid}}/edit">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
              </td>
              <td>
                <i *ngIf="pltdata.status!='Cancelled'  && pltdata.status=='Draft'" class="fa fa-trash"
                  aria-hidden="true" (click)="deleteRow(pltdata.itcrid, pltdata.crcode)"></i>
              </td>
              <td>{{pltdata.crcode}}</td>
              <td>{{pltdata.crrequestorName}}</td>
              <td>{{pltdata.changeDesc}}</td>
              <td>{{pltdata.stage}}</td>
              <td [ngSwitch]="pltdata.status.trim()">
                <span *ngSwitchCase="'Draft'"> <span style="color: #3c8dbc;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Pending Approval'"> <span style="color: #808080ff; ">{{ pltdata.status
                    }}</span></span>
                <span *ngSwitchCase="'Submitted'"> <span
                    style="color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;">{{ pltdata.status
                    }}</span></span>
                <span *ngSwitchCase="'Approved'"> <span style="color: green;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Approved level1'"> <span style="color: green;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Approved level2'"> <span style="color: green;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Completed'"> <span style="color: green;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Rejected'"> <span style="color: red;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Seek Clarification'"> <span style="color:cornflowerblue;">{{ pltdata.status
                    }}</span></span>
                <span *ngSwitchCase="'Implement'"> <span class=" text-info">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Implemented'"> <span class=" text-info">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Pending'"> <span
                    style="color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;">{{ pltdata.status
                    }}</span></span>
                <span *ngSwitchCase="'Released'"> <span style="color: rgb(154, 235, 73);">{{ pltdata.status
                    }}</span></span>
                <span *ngSwitchCase="'Cancelled'"> <span style="color: rgb(255, 0, 0);">{{ pltdata.status
                    }}</span></span>
              </td>
              <td>{{pltdata.categoryName}}</td>
              <td>{{pltdata.classificationName}}</td>
              <td>{{pltdata.crdate | date:'dd-MM-yyyy' }}</td>
              <td>{{pltdata.estimatedDateCompletion | date:'dd-MM-yyyy' }}</td>
              <td>{{pltdata.taskcount}}</td>

            </tr>

          </tbody>
          <ng-template #noData>
            <div class="no-data">There are no RFC#</div>
          </ng-template>
        </table>
      </div>
      <div *ngIf="ischangeanalyst && viewchangerequest.length > 0">
        <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex"
          [pageSizeOptions]="[10,25,50,100]" (page)="onPageChange($event)" aria-label="Select page"
          style="margin-right:34%">
        </mat-paginator>
      </div> -->

      <div class="custom-table">
        <table class="modern-table">

          <!-- HEADER -->
          <thead *ngIf="ischangeanalyst">
            <tr>
              <th>Select</th>
              <th>Actions</th>
              <th>RFC #</th>
              <th>Requestor</th>
              <th>Description</th>
              <th>Stage</th>
              <th>Status</th>
              <th>Type</th>
              <th>Class</th>
              <th>RFC Date</th>
              <th>End Date</th>
              <th>Tasks</th>
            </tr>
          </thead>

          <!-- BODY -->
          <tbody *ngIf="viewchangerequest.length > 0; else noData">

            <tr *ngFor="let pltdata of viewchangerequest; let i = index">

              <td>
                <input type="radio" (click)="onRadioSelect(pltdata)" name="one" />
              </td>
              <td class="actions">
                <i class="fa fa-pencil" *ngIf="pltdata.status!='Cancelled'" (click)="onRadio(pltdata)"
                  routerLink="/executive/{{pltdata.itcrid}}/edit">
                </i>

                <i class="fa fa-trash" *ngIf="pltdata.status!='Cancelled' && pltdata.status=='Draft'"
                  (click)="deleteRow(pltdata.itcrid, pltdata.crcode)">
                </i>
              </td>
              <td>{{pltdata.crcode}}</td>
              <td>{{pltdata.crrequestorName}}</td>
              <td>{{pltdata.changeDesc}}</td>
              <td>{{pltdata.stage}}</td>

              <!-- STATUS BADGE -->
              <td>
                <span class="status-badge" [ngClass]="{
              'completed': pltdata.status == 'Completed' || pltdata.status.includes('Approved'),
              'pending': pltdata.status == 'Pending' || pltdata.status == 'Pending Approval',
              'rejected': pltdata.status == 'Rejected' || pltdata.status == 'Cancelled',
              'progress': pltdata.status == 'Implement' || pltdata.status == 'Submitted',
              'draft': pltdata.status == 'Draft',
              'implemented' : pltdata.status == 'Implemented'
            }">
                  {{pltdata.status}}
                </span>
              </td>

              <td>{{pltdata.categoryName}}</td>
              <td>{{pltdata.classificationName}}</td>
              <td>{{pltdata.crdate | date:'dd-MM-yyyy'}}</td>
              <td>{{pltdata.estimatedDateCompletion | date:'dd-MM-yyyy'}}</td>
              <td>{{pltdata.taskcount}}</td>

              <!-- ACTIONS -->


            </tr>
          </tbody>

          <!-- NO DATA -->
          <ng-template #noData>
            <tr>
              <td colspan="12" class="no-data">There are no RFC#</td>
            </tr>
          </ng-template>

        </table>
      </div>

      <!-- PAGINATOR (UNCHANGED) -->
      <div *ngIf="ischangeanalyst && viewchangerequest.length > 0" style="padding-right: 25%;">
        <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex"
          [pageSizeOptions]="[10,25,50,100]" (page)="onPageChange($event)">
        </mat-paginator>
      </div>

      <br *ngIf="issuperadmin" />
      <br *ngIf="issuperadmin" />
      <h3 class="section-title" *ngIf="issupportegineer">SUPPORT ENGINEER-TASK ASSIGNED</h3>
      <!-- <div class="custom-table">
        <table style="width:100%;margin-left:0%;">
          <thead *ngIf="issupportegineer" class="table-head">
            <tr class="border-bottom">
              <th>Select</th>
              <th>Update</th>
              <th>RFC #</th>
              <th>Task ID</th>
              <th>Requestor</th>
              <th>Description</th>
              <th>Stage</th>
              <th>RFC Status</th>
              <th>Task Status</th>
              <th>Type</th>
              <th>Classifications</th>
              <th>RFC Date</th>
              <th>Expected Date of Completion</th>
              <th>Task Count</th>
            </tr>
          </thead>
          <tbody *ngIf="viewchangerequest.length > 0; else noData">
            <tr class="tr-body" *ngFor="let pltdata of filterexecutdata">
              <td><input type="radio" (change)="onRadioSelect(pltdata)" name="one" id="one" /></td>
              <td>
                <a href="" *ngIf="pltdata.status!='Cancelled'" (click)="onRadio(pltdata)"
                  routerLink="/executive/{{pltdata.itcrid}}/edit">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
              </td>
              <td>{{pltdata.crcode}}</td>
              <td>{{pltdata.itcrexecId}}</td>
              <td>{{pltdata.crrequestorName}}</td>
              <td>{{pltdata.changeDesc}}</td>
              <td>{{pltdata.stage}}</td>
              <td [ngSwitch]="pltdata.status.trim()">
                <span *ngSwitchCase="'Draft'"> <span style="color: #3c8dbc;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Pending Approval'"> <span style="color: #808080ff; ">{{ pltdata.status
                    }}</span></span>
                <span *ngSwitchCase="'Submitted'"> <span
                    style="color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;">{{ pltdata.status
                    }}</span></span>
                <span *ngSwitchCase="'Approved'"> <span style="color: green;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Approved level1'"> <span style="color: green;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Approved level2'"> <span style="color: green;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Completed'"> <span style="color: green;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Rejected'"> <span style="color: red;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Seek Clarification'"> <span style="color:cornflowerblue;">{{ pltdata.status
                    }}</span></span>
                <span *ngSwitchCase="'Implement'"> <span class=" text-info">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Implemented'"> <span class=" text-info">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Pending'"> <span
                    style="color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;">{{ pltdata.status
                    }}</span></span>
                <span *ngSwitchCase="'Released'"> <span style="color: rgb(154, 235, 73);">{{ pltdata.status
                    }}</span></span>
                <span *ngSwitchCase="'Cancelled'"> <span style="color: rgb(255, 0,0);">{{ pltdata.status
                    }}</span></span>
              </td>
              <td>{{pltdata.taskstatus}}</td>
              <td>{{pltdata.categoryName}}</td>
              <td>{{pltdata.classificationName}}</td>
              <td>{{pltdata.crdate | date:'dd-MM-yyyy' }}</td>
              <td>{{pltdata.estimatedDateCompletion | date:'dd-MM-yyyy' }}</td>
              <td>{{pltdata.taskcount}}</td>

            </tr>

          </tbody>
          <ng-template #noData>
            <div class="no-data">There are no RFC#</div>
          </ng-template>
        </table>

      </div>
      <div *ngIf="issupportegineer && filterexecutdata.length > 0">
        <mat-paginator [length]="totalItemsforsupport" [pageSize]="pageSizeforsupport" [pageIndex]="pageIndexforsupport"
          [pageSizeOptions]="[10,25,50,100]" (page)="onPageChangeforsupport($event)" aria-label="Select page"
          style="margin-right:34%">
        </mat-paginator>
      </div> -->

      <div class="custom-table">

        <table class="styled-table">

          <!-- HEADER -->
          <thead *ngIf="issupportegineer">
            <tr>
              <th>Select</th>
              <th>Update</th>
              <th>RFC #</th>
              <th>Task ID</th>
              <th>Requestor</th>
              <th>Description</th>
              <th>Stage</th>
              <th>RFC Status</th>
              <th>Task Status</th>
              <th>Type</th>
              <th>Classification</th>
              <th>RFC Date</th>
              <th>End Date</th>
              <th>Count</th>
            </tr>
          </thead>

          <!-- BODY -->
          <tbody *ngIf="filterexecutdata.length > 0; else noData">

            <tr *ngFor="let pltdata of filterexecutdata">

              <td>
                <input type="radio" (change)="onRadioSelect(pltdata)" name="one">
              </td>

              <td>
                <a *ngIf="pltdata.status!='Cancelled'" (click)="onRadio(pltdata)"
                  routerLink="/executive/{{pltdata.itcrid}}/edit">
                  <i class="fa fa-pencil"></i>
                </a>
              </td>

              <td>{{pltdata.crcode}}</td>
              <td>{{pltdata.itcrexecId}}</td>
              <td>{{pltdata.crrequestorName}}</td>

              <!-- Description (wrap) -->
              <td class="desc">{{pltdata.changeDesc}}</td>

              <td>{{pltdata.stage}}</td>

              <!-- STATUS -->
              <td>
                <span class="status-badge" [ngClass]="{
              'completed': pltdata.status === 'Completed',
              'approved': pltdata.status.includes('Approved'),
              'pending': pltdata.status === 'Pending' || pltdata.status === 'Pending Approval',
              'cancel': pltdata.status === 'Cancelled' || pltdata.status === 'Rejected',
              'progress': pltdata.status === 'Submitted' || pltdata.status === 'Implemented'
            }">
                  {{pltdata.status}}
                </span>
              </td>

              <td>{{pltdata.taskstatus}}</td>
              <td>{{pltdata.categoryName}}</td>
              <td>{{pltdata.classificationName}}</td>
              <td>{{pltdata.crdate | date:'dd-MMM-yyyy'}}</td>
              <td>{{pltdata.estimatedDateCompletion | date:'dd-MMM-yyyy'}}</td>
              <td>{{pltdata.taskcount}}</td>

            </tr>

          </tbody>

        </table>

        <!-- NO DATA -->
        <ng-template #noData>
          <div class="no-data">No RFC records found</div>
        </ng-template>

      </div>

      <!-- PAGINATOR -->
      <div *ngIf="issupportegineer && filterexecutdata.length > 0" style="padding-right: 25%;">
        <mat-paginator [length]="totalItemsforsupport" [pageSize]="pageSizeforsupport" [pageIndex]="pageIndexforsupport"
          [pageSizeOptions]="[10,25,50,100]" (page)="onPageChangeforsupport($event)">
        </mat-paginator>
      </div>

      <br *ngIf="issuperadmin" />
      <br *ngIf="issuperadmin" />

      <h1 class="section-title">APPROVAL -
        PENDING</h1>

      <!-- <div class="custom-table">
        <table style="width:100%; margin-left: 0%;">
          <thead *ngIf="isapprover" class="table-head">
            <tr class="border-bottom">
              <th>Select</th>
              <th>Update</th>
              <th>RFC #</th>
              <th>Requestor</th>
              <th>Description</th>
              <th>Stage</th>
              <th>RFC Status</th>
              <th>Last Approved Name</th>
              <th>Last Approved Date</th>
              <th>Type</th>
              <th>Classifications</th>
              <th>RFC Date</th>
              <th>Expected Date of Completion</th>
              <th>Task Count</th>

            </tr>
          </thead>
          <tbody *ngIf="viewchangerequest.length > 0; else noData">
            <tr class="tr-body" *ngFor="let pltdata of filtersapprvdata">
              <td><input type="radio" (change)="onRadioSelect(pltdata)" name="one" id="one" /></td>
              <td>
                <a href="" *ngIf="pltdata.status!='Cancelled'" (click)="onRadio(pltdata)"
                  routerLink="/executive/{{pltdata.itcrid}}/edit">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
              </td>
              <td>{{pltdata.crcode}}</td>
              <td>{{pltdata.crrequestorName}}</td>
              <td>{{pltdata.changeDesc}}</td>
              <td>{{pltdata.stage}}</td>
              <td [ngSwitch]="pltdata.status.trim()">
                <span *ngSwitchCase="'Draft'"> <span style="color: #3c8dbc;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Pending Approval'"> <span style="color: #808080ff; ">{{ pltdata.status
                    }}</span></span>
                <span *ngSwitchCase="'Submitted'"> <span
                    style="color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;">{{ pltdata.status
                    }}</span></span>
                <span *ngSwitchCase="'Approved'"> <span style="color: green;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Approved level1'"> <span style="color: green;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Approved level2'"> <span style="color: green;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Completed'"> <span style="color: green;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Rejected'"> <span style="color: red;">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Seek Clarification'"> <span style="color:cornflowerblue;">{{ pltdata.status
                    }}</span></span>
                <span *ngSwitchCase="'Implement'"> <span class=" text-info">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Implemented'"> <span class=" text-info">{{ pltdata.status }}</span></span>
                <span *ngSwitchCase="'Pending'"> <span
                    style="color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;">{{ pltdata.status
                    }}</span></span>
                <span *ngSwitchCase="'Released'"> <span style="color: rgb(154, 235, 73);">{{ pltdata.status
                    }}</span></span>
                <span *ngSwitchCase="'Cancelled'"> <span style="color: rgb(255, 0,0);">{{ pltdata.status
                    }}</span></span>
              </td>
              <td>{{pltdata.lastApproverName}}</td>
              <td>{{pltdata.lastApprovedDate | date:'dd-MM-yyyy'}}</td>
              <td>{{pltdata.categoryName}}</td>
              <td>{{pltdata.classificationName}}</td>
              <td>{{pltdata.crdate | date:'dd-MM-yyyy' }}</td>
              <td>{{pltdata.estimatedDateCompletion | date:'dd-MM-yyyy' }}</td>
              <td>{{pltdata.taskcount}}</td>
          </tbody>

          <ng-template #noData>
            <div class="no-data">There are no RFC#</div>
          </ng-template>


        </table>
      </div>
      <div *ngIf="isapprover && filtersapprvdata.length > 0">
        <mat-paginator [length]="totalItemsforapprover" [pageSize]="pageSizeforapprover"
          [pageIndex]="pageIndexforapprover" [pageSizeOptions]="[10,25,50,100]" (page)="onPageChangeforapprover($event)"
          aria-label="Select page" style="margin-right:34%">
        </mat-paginator>
        <br />
      </div> -->


      <div class="custom-table">

        <table class="styled-table">

          <!-- HEADER -->
          <thead *ngIf="isapprover">
            <tr>
              <th>Select</th>
              <th>Update</th>
              <th>RFC #</th>
              <th>Requestor</th>
              <th>Description</th>
              <th>Stage</th>
              <th>RFC Status</th>
              <th>Last Approved Name</th>
              <th>Last Approved Date</th>
              <th>Type</th>
              <th>Classification</th>
              <th>RFC Date</th>
              <th>End Date</th>
              <th>Count</th>
            </tr>
          </thead>

          <!-- BODY -->
          <tbody *ngIf="filtersapprvdata.length > 0; else noData">

            <tr *ngFor="let pltdata of filtersapprvdata">

              <td>
                <input type="radio" (change)="onRadioSelect(pltdata)" name="one">
              </td>

              <td>
                <a *ngIf="pltdata.status!='Cancelled'" (click)="onRadio(pltdata)"
                  routerLink="/executive/{{pltdata.itcrid}}/edit">
                  <i class="fa fa-pencil"></i>
                </a>
              </td>

              <td>{{pltdata.crcode}}</td>
              <td>{{pltdata.crrequestorName}}</td>

              <!-- Description -->
              <td class="desc">{{pltdata.changeDesc}}</td>

              <td>{{pltdata.stage}}</td>

              <!-- STATUS BADGE -->
              <td>
                <span class="status-badge" [ngClass]="{
              'completed': pltdata.status === 'Completed',
              'approved': pltdata.status.includes('Approved'),
              'pending': pltdata.status === 'Pending' || pltdata.status === 'Pending Approval',
              'cancel': pltdata.status === 'Cancelled' || pltdata.status === 'Rejected',
              'progress': pltdata.status === 'Submitted' || pltdata.status === 'Implemented'
            }">
                  {{pltdata.status}}
                </span>
              </td>

              <td>{{pltdata.lastApproverName}}</td>
              <td>{{pltdata.lastApprovedDate | date:'dd-MMM-yyyy'}}</td>
              <td>{{pltdata.categoryName}}</td>
              <td>{{pltdata.classificationName}}</td>
              <td>{{pltdata.crdate | date:'dd-MMM-yyyy'}}</td>
              <td>{{pltdata.estimatedDateCompletion | date:'dd-MMM-yyyy'}}</td>
              <td>{{pltdata.taskcount}}</td>

            </tr>

          </tbody>

        </table>

        <!-- NO DATA -->
        <ng-template #noData>
          <div class="no-data">There are no RFC#</div>
        </ng-template>

      </div>

      <!-- PAGINATOR -->
      <div *ngIf="isapprover && filtersapprvdata.length > 0" style="padding-right: 25%;">
        <mat-paginator [length]="totalItemsforapprover" [pageSize]="pageSizeforapprover"
          [pageIndex]="pageIndexforapprover" [pageSizeOptions]="[10,25,50,100]"
          (page)="onPageChangeforapprover($event)">
        </mat-paginator>
      </div>

    </div>

  </div>

</div>