.container-field-line {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 95%;
  margin-left: 2%;
  margin-top: 10px;
  border-top: 5px solid #113bf7;
  margin-bottom: 3%;
  border-radius: 5px;
}

.field-line {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 56%;
  margin-left: 2%;
  margin-top: 14px;
}

.container-implement {
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
}

.border-rfc-heading {
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.btnsDiv {
  display: flex;
  gap: 10px;
  margin: 15px 0 20px 0;
}

.actionBtn {
  background-color: #113bf7;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.actionBtn:hover {
  background-color: #0f31ca;
}

.dropdowns-list {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.checkboxLabel {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  padding-top: 25px;
}

.inputFields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 10px;
  gap: 10px;
}

input[type="file"] {
  width: 100%;
  padding: 5px;
}

.inputFieldsDiv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.searchButton {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.dropdownSection {
  background-color: #cde9f7;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.checkboxSection {
  display: flex;
  gap: 15px;
}
