<div style="display: flex; background-color: white; width: 95%; margin-left: 2.5%; border-radius: 40px;">

  <div style="margin-left: 3%;">
    <app-sidebrservicemodule></app-sidebrservicemodule>
  </div>


  <div class="viewHeadingWrapper">

    <button class="backBtn" routerLink="/services/servicemaster"> BACK <span class="arrow">◀</span></button>

    <div class="viewheadingCenter">
      <img src="assets/image/service_request.png" class="viewheadingIcon" />
      <span class="viewheadingTitle">Service Request</span>
    </div>

  </div>

  <div class="serviceContainer">
    <div class="serviceMainModuleBox">
      <div class="serviceModules">

        <!-- <ng-container *ngFor="let item of viewServices">
          <div class="serviceModuleCard" [routerLink]="item.routerLink">
            <span class="serviceIcon"><i [style.color]="item.iconColor" [ngClass]="'fa '+item.iconClass "></i></span>
            <span class="serviceIconTitle">{{item.serviceTitle}}</span>
          </div>
        </ng-container> -->

        <ng-container *ngFor="let item of viewServices">

          <div class="serviceModuleCard" [routerLink]="item.routerLink">

            <span class="serviceIcon">
              <img [src]="item.iconImage" class="serviceImg">
            </span>

            <span class="serviceIconTitle">
              {{item.serviceTitle}}
            </span>

          </div>

        </ng-container>

      </div>

    </div>
  </div>
</div>