<div>
    ''

<div class="container-home">

  <div class="text-center pageHeadingCss">
    <p class="pageHeadingparaCss">Service Request</p>
  </div>
  <!--<div class="text-center">
    <h1>Service Request</h1>
  </div>-->
  <div class="container" style="margin-top: 3%;">
    <div class="row" style="margin-left: 13%;">
      <div class="col-md-2 text-center software_style"
           style="cursor: pointer; height:100px;width:100px;background-color: #ffffff;border-radius: 4px; border: 1px solid #cdcdcd;" [routerLink]="'/software'">
        <h1 class="h1_service"><i style="font-size: 24px;color:#7743e8;" class="fa fa-desktop"></i></h1>
        <h6 class="helpdesk_icons">Software</h6>
      </div>
      <div class="col-md-2 text-center"
           style="cursor: pointer; margin-left:1%; height:100px;width:100px;background-color: #ffffff;border-radius: 4px; border: 1px solid #cdcdcd;" [routerLink]="'/domain'">
        <h1 class="h1_service"><i style="font-size: 24px;color:#4dd3da;" class="fa fa-globe"></i></h1>
        <h6 class="helpdesk_icons">Domain</h6>
      </div>
      <div class="col-md-2 text-center"
           style="cursor: pointer; margin-left:1%; height:100px;width:100px;background-color: #ffffff;border-radius: 4px; border: 1px solid #cdcdcd;" [routerLink]="'/email'">
        <h1 class="h1_service"><i style="font-size: 24px;color:#f78204;" class="fa fa-envelope"></i></h1>
        <h6 class="helpdesk_icons">Email</h6>
      </div>
      <div class="col-md-2 text-center"
           style="cursor: pointer; margin-left:1%; height:100px;width:100px;background-color: #ffffff;border-radius: 4px; border: 1px solid #cdcdcd;" [routerLink]="'/external_drive_access'">
        <h1 class="h1_service"><i style="font-size: 24px;color:#029695;" class="fa fa-hdd-o"></i></h1>
        <h6 class="helpdesk_icons">External Drive Access</h6>
      </div>
      <div class="col-md-2 text-center"
           style="cursor: pointer; margin-left:1%; height:100px;width:100px;background-color: #ffffff;border-radius: 4px; border: 1px solid #cdcdcd;" [routerLink]="'/ftp_access'">
        <h1 class="h1_service"><i style="font-size: 24px;color:#f58c99;" class="fa fa-cloud-upload"></i></h1>
        <h6 class="helpdesk_icons">FTP Access</h6>
      </div>
      <div class="col-md-2 text-center"
           style="cursor: pointer; margin-left:1%; height:100px;width:100px;background-color: #ffffff;border-radius: 4px; border: 1px solid #cdcdcd;" [routerLink]="'/usb_access'">
        <h1 class="h1_service"><i style="font-size: 24px;color:#da523a;" class="fa fa-usb"></i></h1>
        <h6 class="helpdesk_icons">USB Access</h6>
      </div>
      <div class="col-md-2 text-center"
           style="cursor: pointer; margin-left:1%; height:100px;width:100px;background-color: #ffffff;border-radius: 4px; border: 1px solid #cdcdcd;" [routerLink]="'/windows_login'">
        <h1 class="h1_service"><i style="font-size: 24px;color:#04b6e4;" class="fa fa-windows"></i></h1>
        <h6 class="helpdesk_icons">Windows Login</h6>
      </div>
      <div class="col-md-2 text-center"
           style="cursor: pointer; margin-left:1%; height:100px;width:100px;background-color: #ffffff;border-radius: 4px; border: 1px solid #cdcdcd;" [routerLink]="'/citrix_access'">
        <h1 class="h1_service"><i style="font-size: 24px;color:#5dd9e6;" class="fa fa-user-secret"></i></h1>
        <h6 class="helpdesk_icons">Citrix Access</h6>
      </div>
    </div>
    <div class="row" style="margin-left: 13%;">
      <div class="col-md-2 text-center"
           style="cursor: pointer; height:100px;width:100px;background-color: #ffffff;border-radius: 4px; border: 1px solid #cdcdcd;" [routerLink]="'/vpn_access'">
        <h1 class="h1_service"><i style="font-size: 24px;color:#3ac059;" class="fa fa-link"></i></h1>
        <h6 class="helpdesk_icons">VPN Access</h6>
      </div>
      <div class="col-md-2 text-center"
           style="cursor: pointer; margin-left:1%; height:100px;width:100px;background-color: #ffffff;border-radius: 4px; border: 1px solid #cdcdcd;" [routerLink]="'/internet_access'">
        <h1 class="h1_service"><i style="font-size: 24px;color:#7fb019;" class="fa fa-desktop"></i></h1>
        <h6 class="helpdesk_icons">URL/Internet Access</h6>
      </div>
      <div class="col-md-2 text-center"
           style="cursor: pointer; margin-left:1%; height:100px;width:100px;background-color: #ffffff;border-radius: 4px; border: 1px solid #cdcdcd;" [routerLink]="'/wifi_access'">
        <h1 class="h1_service"><i style="font-size: 24px;color:#a5cc82;" class="fa fa-wifi"></i></h1>
        <h6 class="helpdesk_icons">Wifi Access</h6>
      </div>
      <div class="col-md-2 text-center"
           style="cursor: pointer; margin-left:1%; height:100px;width:100px;background-color: #ffffff;border-radius: 4px; border: 1px solid #cdcdcd;" [routerLink]="'/access_for_folders'">
        <h1 class="h1_service"><i style="font-size: 24px;color:#f7d367;" class="fa fa-folder-open"></i></h1>
        <h6 class="helpdesk_icons">File Server/Access For Folders</h6>
      </div>
      <div class="col-md-2 text-center"
           style="cursor: pointer; margin-left:1%; height:100px;width:100px;background-color: #ffffff;border-radius: 4px; border: 1px solid #cdcdcd;" [routerLink]="'/backup_restoration'">
        <h1 class="h1_service"><i style="font-size: 24px;color:#c8c8c9;" class="fa fa-database"></i></h1>
        <h6 class="helpdesk_icons">Backup & Restoration</h6>
      </div>
      <div class="col-md-2 text-center"
           style="cursor: pointer; margin-left:1%; height:100px;width:100px;background-color: #ffffff;border-radius: 4px; border: 1px solid #cdcdcd;" [routerLink]="'/remote_access'">
        <h1 class="h1_service"><i style="font-size: 24px;color:#f75421;" class="fa fa-asterisk"></i></h1>
        <h6 class="helpdesk_icons">Remote Access</h6>
      </div>
      <div class="col-md-2 text-center"
           style="cursor: pointer; margin-left:1%; height:100px;width:100px;background-color: #ffffff;border-radius: 4px; border: 1px solid #cdcdcd;" [routerLink]="'/antivirus'">
        <h1 class="h1_service"><i style="font-size: 24px;color:#77bf4f;" class="fa fa-shield"></i></h1>
        <h6 class="helpdesk_icons">Antivirus</h6>
      </div>
      <div class="col-md-2 text-center"
           style="cursor: pointer; margin-left:1%; height:100px;width:100px;background-color: #ffffff;border-radius: 4px; border: 1px solid #cdcdcd;" [routerLink]="'/virtual_meet'">
        <h1 class="h1_service"><i style="font-size: 24px;color:#f671a4;" class="fa fa-comments-o"></i></h1>
        <h6 class="helpdesk_icons">Virtual Meeting</h6>
      </div>
    </div>
  </div>
</div>
</div>